<div class="panel panel-info panel-body" data-ng-controller="form_MapperController">

   <!--<div class="form_mapper_head">-->
       <!--<div class="row">-->
           <!--<div class="col-md-12">-->

               <!--<div class="col-md-6">-->
                   <!--<span class="spanClass">stencil & map to AP Process</span>-->
                     <!--<span class="fa fa-arrow-circle-left pull-right mouse_point" style="  font-size: 30px;-->
  <!--padding-right: 30px;">-->

                   <!--</span>-->
               <!--</div>-->
               <!--<div class="col-md-6">-->

                   <!--<span class="fa fa-arrow-circle-right pull-left mouse_point" style="  font-size: 30px;-->
  <!--padding-left: 30px;"></span>-->
               <!--</div>-->
           <!--</div>-->
       <!--</div>-->
   <!--</div>-->

    <div class="divider-md"></div>

    <div class="row">
        <div class="col-md-5">
          <div >
              <div class="row">
                  <div class="col-md-12">
                      <img src="http://localhost:1014/images/error.png" class="thumbnail img-responsive">
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-7">
            <!--<div class="fieldSet-Header">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<h4 class="fieldSet-h2">accounts payable</h4>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="invoice-bg">
                <div class="row">
                    <div class="col-xs-6">
                        <h1>
                            <a href="https://twitter.com/tahirtaous">
                                <img src="logo.png">
                                Logo here
                            </a>
                        </h1>
                    </div>
                    <div class="col-xs-6 text-right">
                        <!--<h1>INVOICE</h1>-->
                        <h1><small><input type="text" placeholder="Invoice #001"></small></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                From:  <input type="text" placeholder="Company Name">

                            </div>
                            <div class="panel-body">
                                <p>
                                    <input type="text" placeholder="Address"> <br>
                                    <br>
                                   <textarea rows="2">Address Line</textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 col-xs-offset-2 text-right">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <!--<h4>To : <a href="#">Client Name</a></h4>-->
                                <input type="text" placeholder="Client Name">
                            </div>
                            <div class="panel-body">
                                <p>
                                    <input type="text" placeholder="Address"> <br>
                                    details <br>
                                    more <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / end client details section -->
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    <h4>Service</h4>
                                </th>
                                <th>
                                    <h4>Description</h4>
                                </th>
                                <th>
                                    <h4>Hrs/Qty</h4>
                                </th>
                                <th>
                                    <h4>Rate/Price</h4>
                                </th>
                                <th>
                                    <h4>Sub Total</h4>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Article</td>
                                <td><a href="#"> <input type="text" placeholder="Title of your article here"></a></td>
                                <td class="text-right"><input type="text"> </td>
                                <td class="text-right"><input type="text" placeholder="$200.00"></td>
                                <td class="text-right">$200.00</td>
                            </tr>
                            <tr>
                                <td>Template Design</td>
                                <td><a href="#">Details of project here</a></td>
                                <td class="text-right">10</td>
                                <td class="text-right"><input type="text" placeholder="75.00"></td>
                                <td class="text-right">$750.00</td>
                            </tr>
                            <tr>
                                <td><input type="text" placeholder="Development"></td>
                                <td><a href="#">WordPress Blogging theme</a></td>
                                <td class="text-right">5</td>
                                <td class="text-right">50.00</td>
                                <td class="text-right">$250.00</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

            </div>

        </div>
        <!--<div class="col-md-2">-->
            <!--&lt;!&ndash;<div style="margin-top: 100%">&ndash;&gt;-->
                <!--&lt;!&ndash;<button type="button" class="btn_hethi green" data-ng-click="mxsd()">create mXSD</button>&ndash;&gt;-->

            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="xsdBtn">-->

                <!--<div>-->
                    <!--&lt;!&ndash;<button type="button" class="btn_hethi green" data-ng-click="mxsd()">create mXSD</button>&ndash;&gt;-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>


</div>