<div data-ng-controller="appHomeController">
  <div class="banner">
    <div class="">
        <div class="">
            <img class="img-responsive" src="images/b.jpg">
        </div>
    </div>
  </div>

    <div class="container">


        <div class="intro">
            <div class="row">

                <div class="col-md-12 text-center">
                    <h2 class="" i18n="Hethi offers capture manage deliver solutions for entreprice">.</h2>
                    <h4>We help businesses of all sizes and our solutions are tailored to fit your company. Whether you are small, medium or large,
                        if your business needs, we can get you started quickly.</h4>
                    <p>Our easy sign-up process makes it possible for you to have a Merchant Account at Hethi in just a few minutes</p>
                    <!--<button class="btn_hethi btn-danger" href="#">SIGN UP NOW</button>-->
                </div>
            </div>
        </div>

        <div class="row margin-bottom-50">



            <div class="col-md-4 col-sm-6">
                <div class="hethi_servicebox margin_bottom_1col margin_bottom_2col">
                    <div class="hethi_serviceicon mouse_point"><span class="fa fa-money"></span></div>
                    <div class="hethi_service_title"><span class="mouse_point" data-ng-click="detailsPage(row)">Accounts Payable</span></div>
                    <p>Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim tristique risus.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="hethi_servicebox margin_bottom_1col margin_bottom_2col">
                    <div class="hethi_serviceicon mouse_point"><span class="fa fa-dollar"></span></div>
                    <div class="hethi_service_title"><span class="mouse_point" data-ng-click="signUp()">Accounts Receivable</span></div>
                    <p>Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim tristique risus.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="hethi_servicebox margin_bottom_1col">
                    <div class="hethi_serviceicon"><span class="fa fa-building"></span></div>
                    <div class="hethi_service_title"><span class="mouse_point" data-ng-click="signUp()">Deliver</span></div>
                    <p>Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim tristique risus.</p>
                </div>
            </div>
            <!--<div class="col-md-3 col-sm-6">-->
            <!--<div class="hethi_servicebox">-->
            <!--<div class="hethi_serviceicon"><span class="fa fa-random"></span></div>-->
            <!--<div class="hethi_service_title">Mobile Friendly</div>-->
            <!--<p>Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim tristique risus.</p>-->
            <!--</div>-->
            <!--</div>-->
        </div>


    </div>

    <div class="hethi_proceed">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" data-ng-click="signUp()" class="btn_hethi-lg btn-danger">learn, play & try</button>

                    </div>
                </div>
            </div>
        </div>

    </div>




</div>