<div id="sign_in_modal" class="text-lowercase modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-sm" >
        <div class="modal-content">
            <div>
                <!-- style="background-color: #d2e2e8;"-->
                <div class="modal-header signin-modalHeadBg" >
                    <span class="fa fa-close ash-c pull-right mouse_point" data-dismiss="modal" aria-hidden="true"></span>

                    <h4 class="modal-title text-center">Already user ? sign in</h4>
                </div>
                <div class="modal-body">
                    <section>
                        <form data-ng-submit="SignInToHethi(signin);">
                            <!--<div class="panel-heading-sign_up text-center  " style="background-color: #d2e2e8;">-->
                            <!--<span class="font_w text-normal" style="text-transform: none">Already user ? sign in</span>-->
                            <!--</div>-->
                            <div class="form-group">

                                <input placeholder="Email address"
                                       id="userLogin"
                                       ng-model="signin.username"
                                       required=""
                                       class="form-control input-round"
                                       type="email"
                                       minlength="6"
                                       maxlength="50">
                            </div>
                            <div class="form-group">

                                <input placeholder="Password" id="pwd"
                                       class="form-control input-round"
                                       type="password"
                                       ng-model="signin.password"
                                       required=""
                                        >
                            </div>

                            <div class="form-group margin-bottom-10">
                                <label class="ui-checkbox">
                                    <input name="checkbox1"
                                           ng-model="signin.remember"
                                           type="checkbox"  >
                                    <span>Stay signed in</span></label>
                                <a ng-click="forgot()" href="#" class="float-right" style="color: #008BCB;font-size: 12px"><span i18n="forgot password"></span> ?</a>

                            </div>


                            <button type="submit" class="text-lowercase btn blue btn-block input-round"><i class="fa fa-sign-in"></i> Login</button>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div style="font-weight: bold;padding-bottom: 5px;padding-top: 5px">Or</div>
                                </div>
                            </div>

                            <button type="button" data-ng-click="signUpUser()" class="text-lowercase btn btn-success btn-block input-round"><i class="fa fa-user-plus"></i> Sign Up</button>
                            <div class="divider-sm"></div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
