<div class="panel-info panel-body panel" data-ng-controller="form_MapperController">



        <div class="row">


            <div class="col-md-4">
                <div class="upload-hethi-doc">
                    <div class="row">
                        <div class="col-md-12">
                            <form ng-submit="uploadFileToHethi()" class="form-horizontal" enctype="multipart/form-data">
                                <div class="form-group ">
                                    <!--<div class="col-md-3 col-sm-3 text-left">Company</div>-->
                                    <div class="col-md-12 col-sm-12">
                                        <!--<input type="text" class="form-control input-md input-hethi">-->
                                        <select class="form-control input-md input-round text-center">
                                            <option>  Industry  </option>
                                            <option>Finance</option>
                                            <option>Health Care</option>
                                            <option>E-Publishing</option>
                                        </select>
                                    </div>
                                </div>

                                <h4>Upload your invoice</h4>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="input-group">
                                     <span class="input-group-btn">
                                         <span class="btn-file-hethi btn-primary btn-file">
                                             Browse&hellip; <input type="file" name="file" ng-model="document.fileInput" id="file"  multiple>
                                         </span>
                                     </span>
                                            <input type="text" class="form-control input-hethi input-md" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn-file-hethi btn-primary" type="submit">Upload</button>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{image}}" class="thumbnail img-responsive">
                        </div>
                    </div>

            </div>
        </div>

        <div class="divider-md"></div>

        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<div class="text-center margin-bottom-30">-->
                    <!--<button type="button" class="btn_hethi btn-primary" data-ng-click="stencil()">create mxsd</button>-->

                <!--</div>-->
            <!--</div>-->

        <!--</div>-->






    <!--<div class="row">-->
        <!--<div class="col-md-3">-->

            <!--<div class="xsdBtn">-->
                <!--<div class="fa-btn">-->
                    <!--<span class="fa fa-file"></span>-->
                <!--</div>-->
                <!--<div>-->
<!--<span class="btn_hethi btn-primary btn-file">-->
    <!--upload your file <input type="file" class="input-md">-->
<!--</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->

            <!--<div class="xsdBtn">-->

                <!--<div>-->
                    <!--<button type="button" class="btn_hethi btn-primary" data-ng-click="stencil()">create mxsd</button>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>


