<div class="panel-info panel-body panel" data-ng-controller="hethi_home_Controller">


    <div class="container-fluid">
      <div class="row">



          <div class="col-md-9 col-sm-12" >


              <div id="pc">
                  <img src="{{fileStencilingData.file_location}}"
                       class="thumbnail img-responsive"
                       id="stencilingImage"
                       alt="stenciling image not found">
              </div>



              <div class="divider-md"></div>
              <div class="col-md-4" id="interface"> </div>
              <div class="col-md-8 ">
                  <div class="divider-md"></div>
                  <div class="divider-md"></div>
                  <form id="coords"
                        class="coords ">

                      <div class="inline-labels form-group ">
                          <label >X1 <input type="text" size="4" id="x1" name="x1" /></label>
                          <label>Y1 <input type="text" size="4" id="y1" name="y1" /></label>
                          <label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
                          <label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
                          <label>W <input type="text" size="4" id="w" name="w" /></label>
                          <label>H <input type="text" size="4" id="h" name="h" /></label>
                      </div>
                  </form>



              </div>

              <script type="text/javascript">
                  jQuery(function($){
                      var jcrop_api, boundx,boundy;
                             $preview = $('#preview-pane'),
                              $pcnt = $('#preview-pane .preview-container'),
                              $pimg = $('#preview-pane .preview-container img'),


                              xsize = $pcnt.width(),
                              ysize = $pcnt.height();

                      function showCoords(c)
                      {
                          $('#x1').val(c.x);
                          $('#y1').val(c.y);
                          $('#x2').val(c.x2);
                          $('#y2').val(c.y2);
                          $('#w').val(c.w);
                          $('#h').val(c.h);


                          if (parseInt(c.w) > 0)
                          {
                              var rx = xsize / c.w;
                              var ry = ysize / c.h;

                              $pimg.css({
                                  width: Math.round(rx * boundx) + 'px',
                                  height: Math.round(ry * boundy) + 'px',
                                  marginLeft: '-' + Math.round(rx * c.x) + 'px',
                                  marginTop: '-' + Math.round(ry * c.y) + 'px'
                              });

//                              $("#preview-pane").css( {position:"absolute", top:c.y+40, left: c.x , display:"block"});
                          }

                      };

                      function clearCoords()
                      {
                          $('#coords input').val('');
//                          $("#preview-pane").css( {display:"none"});

                      };
                      destroySelection=function(){
                          jcrop_api.release();
//                          $("#preview-pane").css( {display:"none"});
//
                      };
                      function loadDiv(event)
                      {
//                          $("#preview-pane").css( {position:"absolute", top:event.y+40, left: event.x , display:"block"});

                      };
//
                      $('#stencilingImage').Jcrop({
                          bgFade:     true,
                          bgOpacity: .2,
                          onChange:   showCoords,
                          onRelease:  clearCoords,
                          onSelect:   loadDiv

                      },function(){
                          jcrop_api = this;
                          // Use the API to get the real image size
                          var bounds = this.getBounds();
                          boundx = bounds[0];
                          boundy = bounds[1];

                          // Move the preview into the jcrop container for css positioning
                          $preview.appendTo(jcrop_api.ui.holder);
                      });
                      $('#coords').on('change','input',function(e){
                          var x1 = $('#x1').val(),
                                  x2 = $('#x2').val(),
                                  y1 = $('#y1').val(),
                                  y2 = $('#y2').val();
                          jcrop_api.setSelect([x1,y1,x2,y2]);
                      });

                      $('#fadetog').change(function(){
                      jcrop_api.setOptions({
                          bgFade: this.checked
                      });
                  }).attr('checked','checked');

                  $('#shadetog').change(function(){
                          if (this.checked) $('#shadetxt').slideDown();
                          else $('#shadetxt').slideUp();
                          jcrop_api.setOptions({
                              shade: this.checked
                          });
                      }).attr('checked',false);

                      // Define page sections
                      var sections = {
                          bgc_buttons: 'Change Color',
                          bgo_buttons: 'Change Opacity'
                      };
                      // Define animation buttons
                      var ac = {
                          anim1: [217,122,382,284],
                          anim2: [20,20,580,380],
                          anim3: [24,24,176,376],
                          anim4: [347,165,550,355],
                          anim5: [136,55,472,183]
                      };
                      // Define bgOpacity buttons
                      var bgo = {
                          Low: .2,
                          Mid: .5,
                          High: .8,
                          Full: 1
                      };
                      // Define bgColor buttons
                      var bgc = {
                          R: '#900',
                          B: '#4BB6F0',
                          Y: '#F0B207',
                          G: '#46B81C',
                          W: 'white',
                          K: 'black'
                      };
                      // Create fieldset targets for buttons
//                      for(i in sections)
//                          insertSection(i,sections[i]);

                      function create_btn(c) {
                          var $o = $('<button />').addClass('btn btn-small');
                          if (c) $o.append(c);
                          return $o;
                      }

                      var a_count = 1;
                      // Create animation buttons
                      for(i in ac) {
                          $('#anim_buttons .btn-group')
                                  .append(
                                  create_btn(a_count++).click(animHandler(ac[i])),
                                  ' '
                          );
                      }

                      $('#anim_buttons .btn-group').append(
                              create_btn('Bye!').click(function(e){
                                  $(e.target).addClass('active');
                                  jcrop_api.animateTo(
                                          [300,200,300,200],
                                          function(){
                                              this.release();
                                              $(e.target).closest('.btn-group').find('.active').removeClass('active');
                                          }
                                  );
                                  return false;
                              })
                      );

                      // Create bgOpacity buttons
                      for(i in bgo) {
                          $('#bgo_buttons .btn-group').append(
                                  create_btn(i).click(setoptHandler('bgOpacity',bgo[i])),
                                  ' '
                          );
                      }
                      // Create bgColor buttons
                      for(i in bgc) {
                          $('#bgc_buttons .btn-group').append(
                                  create_btn(i).css({
                                      background: bgc[i],
                                      color: ((i == 'K') || (i == 'R'))?'white':'black'
                                  }).click(setoptHandler('bgColor',bgc[i])), ' '
                          );
                      }
                      // Function to insert named sections into interface
                      function insertSection(k,v) {
                          $('#interface').prepend(
                                  $('<fieldset></fieldset>').attr('id',k).append(
                                          $('<legend></legend>').append(v),
                                          '<div class="btn-toolbar"><div class="btn-group"></div></div>'
                                  )
                          );
                      };
                      // Handler for option-setting buttons
                      function setoptHandler(k,v) {
                          return function(e) {
                              $(e.target).closest('.btn-group').find('.active').removeClass('active');
                              $(e.target).addClass('active');
                              var opt = { };
                              opt[k] = v;
                              jcrop_api.setOptions(opt);
                              return false;
                          };
                      };
                      // Handler for animation buttons
                      function animHandler(v) {
                          return function(e) {
                              $(e.target).addClass('active');
                              jcrop_api.animateTo(v,function(){
                                  $(e.target).closest('.btn-group').find('.active').removeClass('active');
                              });
                              return false;
                          };
                      };

                      $('#bgo_buttons .btn:first,#bgc_buttons .btn:last').addClass('active');
                      $('#interface').show();

                  });


              </script>
          </div>

          <div class="col-md-3 col-sm-12" >
              <div id="preview-pane">
                  <div class="preview-container">
                      <img src="{{fileStencilingData.file_location}}"   class="jcrop-preview"  alt="stenciling image not found" >
                  </div>

                  <div class="row" >

                      <div >
                          <div class="divider-md"></div>
                          <div class="col-md-12">
                          <div class="form-group">
                              <select class="form-control"  ng-model="fieldData"  ng-options="user as user.fielddisplayname for user in formDatakeys ">
                                  <option value=""> select field </option>
                              </select>
                          </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                    <span class="text-small">
                                            Tag to Classify?
                                    </span>
                              </div>
                              <div class="form-group">
                                  <div class="btn-group">
                                      <button type="button" class=" btn btn-line-success " data-ng-click="field_attributes.classify= 'yes'" data-ng-model="field_attributes.classify" btn-radio="'yes'" style="font-size: 12px"> Yes</button>
                                      <button type="button" class=" btn btn-line-success " data-ng-click="field_attributes.classify= 'no'" data-ng-model="field_attributes.classify" btn-radio="'no'" style="font-size: 12px"> No </button>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                    <span class="text-small">
                                            Tag to Split?
                                    </span>
                              </div>
                              <div class="form-group">
                                  <div class="btn-group">
                                      <button type="button" class="btn btn-line-info " data-ng-click="field_attributes.split= 'yes'" data-ng-model="field_attributes.split" btn-radio="'yes'" style="font-size: 12px"> Yes</button>
                                      <button type="button" class="btn btn-line-info " data-ng-click="field_attributes.split= 'no'" data-ng-model="field_attributes.split" btn-radio="'no'" style="font-size: 12px"> No </button>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                    <span class="text-small">
                                            Tag to Merge?
                                    </span>
                              </div>
                              <div class="form-group">
                                  <div class="btn-group">
                                      <button type="button" class="btn btn-line-danger " data-ng-click="field_attributes.merge= 'yes'" data-ng-model="field_attributes.merge" btn-radio="'yes'" style="font-size: 12px"> Yes</button>
                                      <button type="button" class="btn btn-line-danger " data-ng-click="field_attributes.merge= 'no'" data-ng-model="field_attributes.merge" btn-radio="'no'" style="font-size: 12px"> No </button>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                    <span class="text-small">
                                            Tag to Reject?
                                    </span>
                              </div>
                              <div class="form-group">
                                  <div class="btn-group">
                                      <button type="button" class="btn btn-line-primary " data-ng-click="field_attributes.reject= 'yes'" data-ng-model="field_attributes.reject" btn-radio="'yes'" style="font-size: 12px"> Yes</button>
                                      <button type="button" class="btn btn-line-primary " data-ng-click="field_attributes.reject= 'no'" data-ng-model="field_attributes.reject" btn-radio="'no'" style="font-size: 12px"> No </button>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group text-center">
                              <div class="divider-md"></div>
                              <div class="col-md-8">
                                  <button type="button" data-ng-click="addFieldCoords()" class="btn_hethi btn-success btn-block">  Add  </button>
                              </div>
                              <div class="col-md-4">
                                  <button type="button" class="btn_hethi btn-danger btn-block" onclick="destroySelection()" >  Back  </button>
                              </div>
                          </div>
                      </div>

                  </div>
                  <div class="divider-md"></div>

                  <div class="table-responsive ">
                      <table class="table table-bordered hethi_tableStyle"  ng-show="stenciledFieldList.length">
                          <tr style="background: #b4b857">
                              <th>
                                  Added Fields
                              </th>
                              <th class="text-center">
                                  Classify
                              </th>
                              <th class="text-center">
                                  Split
                              </th>
                              <th class="text-center">
                                  Merge
                              </th>
                              <th class="text-center">
                                  Reject
                              </th>
                              <th class="text-center">

                              </th>
                          </tr>
                          <tr ng-repeat="list in stenciledFieldList">
                              <td>{{list.name}} </td>
                              <td class="text-center">
                                  <div ng-switch="list.classify">
                                      <span data-ng-switch-when="yes" class="fa fa-check"></span>
                                      <span data-ng-switch-when="no" class="fa fa-times"></span>
                                  </div>
                              </td>
                              <td class="text-center">
                                  <div ng-switch="list.split">
                                      <span data-ng-switch-when="yes" class="fa fa-check"></span>
                                      <span data-ng-switch-when="no" class="fa fa-times"></span>
                                  </div>
                              </td>
                              <td class="text-center">
                                  <div ng-switch="list.merge">
                                      <span data-ng-switch-when="yes" class="fa fa-check"></span>
                                      <span data-ng-switch-when="no" class="fa fa-times"></span>
                                  </div>
                              </td>
                              <td class="text-center">
                                  <div ng-switch="list.reject">
                                      <span data-ng-switch-when="yes" class="fa fa-check"></span>
                                      <span data-ng-switch-when="no" class="fa fa-times"></span>
                                  </div>
                              </td>
                              <td style="width: 15px">
                                  <span data-ng-click="removeFieldCoords($index)"  class="fa fa-trash"></span>
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>




          </div>
      </div>

        <div class="divider-md"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center margin-bottom-30">
                    <button type="button"  class="btn_hethi-lg btn-warning"><a href="Home"> Back </a> </button>
                    <button type="button" data-ng-click="completeStenciling()" style="margin-left: 10px" class="btn_hethi-lg btn-warning">Complete stenciling</button>

                </div>
            </div>
        </div>

    </div>




</div>