

.navbar-fixed-top {
    margin-bottom: 30px;
}

.margin-bottom-50 { margin-bottom: 50px; }


.hethi_servicewrapper{background:#f0eeee; padding:50px 0 50px 0; width:100%; text-align:center;}
.hethi_servicebox{background:#2580B7; border-radius:0px; padding:25px;text-align: center;height: 220px;margin-bottom: 10px}
.hethi_servicebox:hover{

    background-color: #2695d2;

}
.hethi_servicebox p{
    color: #ffffff;
}

/*.hethi_serviceicon{background:#e46142; color:#ffffff; width:80px; height:80px; margin:0 auto; border-radius:0px; font-size:40px; line-height:80px; text-align:center;}*/
.hethi_serviceicon{
    background: rgba(255, 218, 218, 0.19);
    color: #ffffff;
    /*width: 200px;*/
    height: 50px;
    margin: 0 auto;
    border-radius: 0px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;}

.hethi_serviceicon:hover{
    font-size: 50px;
    transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
}
.hethi_service_title{font-size:18px; margin:15px 0 5px 0; color: #fefefe;}
.hethi_service_title:hover{
    font-size: 22px;
    transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
}

.credential_container{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 11.7%;
    right: 0px;
    left: 0px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #16AA9F;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;


}
@media (min-width: 240px) and (max-width: 480px) {
    .credential_container{
        margin-left: 2%;
        margin-right: 2%;
    }
}

/*.inner-bg {*/
    /*padding: 100px 0 170px 0;*/
/*}*/
/*@media (max-width: 767px) {*/

    /*.inner-bg { padding: 60px 0 110px 0; }*/

/*}*/
.form-box {
    /*margin-top: 35px;*/
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*margin-bottom: 10%;*/

    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #EEE;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0px 5px 5px 0px #575454;
}
@media (min-width: 240px) and (max-width: 980px){
    .form-box{
        margin-bottom: 50px;
    }

}
@media (min-width: 1024px) and (max-width: 1100px){
    .form-box{
        margin-bottom: 10%;
    }

}
@media (min-width: 1110px) and (max-width: 1280px){
    .form-box{
        margin-bottom: 12%;
    }

}
.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background:#59DBF1 none repeat scroll 0% 0%;
    /*-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;*/
    text-align: left;
    margin-left: -1px;
    margin-right: -1px;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}
.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form button.btn {
    width: 100%;
}

.form-bottom form .input-error {
    border-color: #4aaf51;
}
.input-hethi{
    border-radius: 0px;
}

/*Footer*/


footer { background: #2498BA; }
.copyright-text {
    color: #f5f5f5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

/*End Footer*/


/*details page*/

.light-gray-bg { background-color: #F2F2F2; padding-top: 20px;padding-bottom: 20px;margin-top: 20px}

.font-weight-300 { font-weight: 300; }
.section-title-2 {
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 0;
}
.gray-text { color: #9c9c9c; }
.blue-text { color: #457C89; }
.justify-text { text-align: justify; }

.hethi_cmd{
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    /*background-color: beige;*/
    box-shadow: 0px 1px 3px 0px rgba(68, 68, 62, 0.57) !important;
}

.hethi_cmdbox{
    /*background:#2580B7;*/
    border-radius:0px;
    padding:20px;
    text-align: center;
    /*height: 220px;*/
    margin-bottom: 10px
}

.hethi_cmdicon{
    /*background: rgba(255, 218, 218, 0.19);*/
    color: #00304d;
    /*width: 200px;*/
    /*height: 50px;*/
    margin: 0 auto;
    border-radius: 0px;
    font-size: 100px;
    line-height: 50px;
    text-align: center;
}
.hethi_cmd_title{
    font-size:18px; font-size: 18px;
    margin: 5px 0px 5px;
    color: #009fff;
    text-transform: uppercase;
    font-weight: bold;
}
.form_mapper_head{
    border-top: 1px solid red;
    border-bottom: 5px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -20px;

}
.spanClass{
    font-size: 20px;
}

.fieldSet-Header{
    border-top: 2px solid #918380;
    border-left: 2px solid #918380;
    position: relative;
    margin-top: 10px;
    border-bottom: 2px solid #918380;
    border-right: 2px solid #918380;
}
.fieldSet-h2{
    background: white;
    width: 45%;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: justify;
    /* margin: auto; */
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    /* right: 0; */
    margin-top: -20px;
    font-size: 25px;
}

.carl{
    color: #ffffff;
    left: 0;
    right: 0;
    position: relative;
    padding: 10px;
    margin-top: 40%;
    text-align: center;
    font-size: 30px;
}
.xsdBtn{
    margin-top: 50%;text-align: center;
}
.xsdBtn .fa-btn{
    padding: 5px;
    margin-bottom: 10px;
}
.xsdBtn .fa-btn span{
    font-size: 40px;
    color: #286090;
}

.hethi_proceed{
    background-color: #FF7500;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: -15px;
    margin-right: -15px;
    /*margin-bottom: 30px;*/
}
.intro{
/*margin-bottom: 40px;*/
}
.intro h2{

    margin-bottom: 30px;
    line-height: 22px;
    /*margin-bottom: 8px;*/
    font: 17px/21px "Open Sans", Arial, "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    color:#656565;
    font-size: 36px;
    line-height: 1.144;
}
.intro h4{
    margin-top: 15px;
    margin-bottom: 10px;
    font: 17px/21px "Open Sans", Arial, "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    color: #50525F;
    line-height: 1.4;
    position: relative;
    z-index: 1;
    font-size: 16px;
}
.intro p{
    font-family: "Open Sans",sans-serif;
    color: #777;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.64285;
    margin-bottom: 20px;
}
.sign_in{
margin-top: 0px;
}
.sign_in h2{

    margin-bottom: 20px;
    /*line-height: 22px;*/
    /*margin-bottom: 8px;*/
    font: 17px/21px "Open Sans", Arial, "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    color:#656565;
    font-size: 36px;
    line-height: 1.144;
}

.banner{
    margin-top: -10px;
    margin-left: -15px;
    margin-right: -15px;
}
.banner-hethi{
    /*margin-top: -10px;*/
    margin-left: -15px;
    margin-right: -15px;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
.upload-hethi-doc{

    background-color: #35B6C0;
    padding: 30px 10px 10px 10px;
    margin-top: 15%;
    color: white;
}
.wizard {
    background-image: none;
    filter: none;
    border: 0px none;
    background-color: #FFF;
    box-shadow: none;
}
.wizard-box{
    background-image: none;
    filter: none;
    border: 0px none;
    background-color: #FFF;
    box-shadow: none;
}
.number{
    display: inline-block;
    text-align: center !important;
    font-size: 16px;
    font-weight: 300;
    padding: 11px 15px 13px;
    margin-right: 10px;
    height: 45px;
    width: 45px;
    border-radius: 50% !important;
    background-color: #ACB7AD;
    color: #FFF;
}
.number-active{
    background-color: #35AA47;

}
.desc{
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
}
.wizard-container{
    border-bottom: 3px solid #4EACD1;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    /*margin-bottom: 20px;*/
}
.wizard_head-1{

    margin-left: 20%;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 25px solid #4EACD1;
}
.wizard_head-2{

    margin-left: 33%;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 25px solid #4EACD1;
}
.wizard_head-3{

    margin-left: 49%;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 25px solid #4EACD1;
}
.wizard_head-4{

    margin-left: 50%;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 25px solid #4EACD1;
}
.wizard_head-5{

    margin-left: 79%;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 25px solid #4EACD1;
}
.wizard_head-6{

    margin-left: 92%;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 25px solid #4EACD1;
}

.search_result{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F4EBDA;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    /*height: 160px;*/
    position: relative;
}
.file_name{
    padding-top: 5px;
    font-size: 25px;
    padding-bottom: 5px;
}
.invoice-date{
    font-size: 17px;
}
.preview{
    margin-top: 10%;margin-right: 30px
}
.search_preview{
    margin-right: 10px;
}
@media (min-width: 240px) and (max-width: 480px) {
    .file_name{
        font-size: 14px;
    }
    .invoice-date{
        font-size: 12px !important;
    }
    .preview{
        font-size: 11px;

    }
}

.icon-background {
    color: #c0ffc0;
}
.img-center{
    margin:0 auto !important;
}

.minHeight200{
    height: 200px !important;
}

.margin-top-15{
    margin-top: 15px;
}
.margin-top-10{
    margin-top: 10px;
}
.font_b{
    color: #000000;!important;
}
.minHeight50{
    height: 50px !important;
}
.margin-top-25{
    margin-top: 25px;
}

.color-green{
     color: #00b100 !important;
 }
.color-red{
    color: red !important;
}
/*Sidebar Nav CSS Starts here*/
/*Sidebar Nav CSS Starts here*/



.infobox-container {
    text-align: center;
    font-size: 0
}

.infobox {
    display: inline-block;
    width: 250px;
    /*width:210px;*/
    height: 66px;
    color: #555;
    background-color: #FFF;
    box-shadow: none;
    border-radius: 0;
    margin: -1px 0 0 -1px;
    padding: 8px 3px 6px 9px;
    border: 1px dotted;
    border-color: #D8D8D8!important;
    vertical-align: middle;
    text-align: left;
    position: relative
}

.infobox>.infobox-icon {
    display: inline-block;
    vertical-align: top;
    width: 44px
}

.infobox>.infobox-icon>.ace-icon {
    display: inline-block;
    height: 42px;
    margin: 0;
    padding: 1px 1px 0 2px;
    background-color: transparent;
    border-width: 0;
    text-align: center;
    position: relative;
    border-radius: 100%;
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .2)
}

.infobox>.infobox-icon>.ace-icon:before {
    font-size: 24px;
    display: block;
    padding: 6px 0 7px;
    width: 40px;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
    color: rgba(255, 255, 255, .9);
    background-color: transparent;
    background-color: rgba(255, 255, 255, .2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .14)
}

.infobox .infobox-content {
    color: #555;
    max-width: 140px
}

.infobox .infobox-content:first-child {
    font-weight: 700
}

.infobox>.infobox-data {
    display: inline-block;
    border-width: 0;
    border-top-width: 0;
    font-size: 13px;
    text-align: left;
    line-height: 21px;
    min-width: 130px;
    padding-left: 8px;
    position: relative;
    top: 0
}

.infobox>.infobox-data>.infobox-data-number {
    display: block;
    font-size: 22px;
    margin: 2px 0 4px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .15)
}

.infobox>.infobox-data>.infobox-text {
    display: block;
    font-size: 16px;
    margin: 2px 0 4px;
    position: relative;
    text-shadow: none
}

.infobox.no-border {
    border-width: 0!important
}

@media only screen and (max-width:479px) {
    .infobox {
        min-width: 95%;
        margin-top: 2px;
        margin-bottom: 2px
    }
}

.infobox-purple {
    color: #6f3cc4;
    border-color: #6f3cc4
}

.infobox-purple>.infobox-icon>.ace-icon {
    background-color: #6f3cc4
}

.infobox-purple.infobox-dark {
    background-color: #6f3cc4;
    border-color: #6f3cc4
}

.infobox-purple2 {
    color: #5f47b0;
    border-color: #5f47b0
}

.infobox-purple2>.infobox-icon>.ace-icon {
    background-color: #5f47b0
}

.infobox-purple2.infobox-dark {
    background-color: #5f47b0;
    border-color: #5f47b0
}

.infobox-pink {
    color: #cb6fd7;
    border-color: #cb6fd7
}

.infobox-pink>.infobox-icon>.ace-icon {
    background-color: #cb6fd7
}

.infobox-pink.infobox-dark {
    background-color: #cb6fd7;
    border-color: #cb6fd7
}

.infobox-blue {
    color: #6fb3e0;
    border-color: #6fb3e0
}

.infobox-blue>.infobox-icon>.ace-icon {
    background-color: #6fb3e0
}

.infobox-blue.infobox-dark {
    background-color: #6fb3e0;
    border-color: #6fb3e0
}

.infobox-blue2 {
    color: #3983c2;
    border-color: #3983c2
}

.infobox-blue2>.infobox-icon>.ace-icon {
    background-color: #3983c2
}

.infobox-blue2.infobox-dark {
    background-color: #3983c2;
    border-color: #3983c2
}

.infobox-blue3 {
    color: #1144eb;
    border-color: #1144eb
}

.infobox-blue3>.infobox-icon>.ace-icon {
    background-color: #1144eb
}

.infobox-blue3.infobox-dark {
    background-color: #1144eb;
    border-color: #1144eb
}

.infobox-red {
    color: #d53f40;
    border-color: #d53f40
}

.infobox-red>.infobox-icon>.ace-icon {
    background-color: #d53f40
}

.infobox-red.infobox-dark {
    background-color: #d53f40;
    border-color: #d53f40
}

.infobox-brown {
    color: #c67a3e;
    border-color: #c67a3e
}

.infobox-brown>.infobox-icon>.ace-icon {
    background-color: #c67a3e
}

.infobox-brown.infobox-dark {
    background-color: #c67a3e;
    border-color: #c67a3e
}

.infobox-wood {
    color: #7b3f25;
    border-color: #7b3f25
}

.infobox-wood>.infobox-icon>.ace-icon {
    background-color: #7b3f25
}

.infobox-wood.infobox-dark {
    background-color: #7b3f25;
    border-color: #7b3f25
}

.infobox-light-brown {
    color: #cebea5;
    border-color: #cebea5
}

.infobox-light-brown>.infobox-icon>.ace-icon {
    background-color: #cebea5
}

.infobox-light-brown.infobox-dark {
    background-color: #cebea5;
    border-color: #cebea5
}

.infobox-orange {
    color: #e8b110;
    border-color: #e8b110
}

.infobox-orange>.infobox-icon>.ace-icon {
    background-color: #e8b110
}

.infobox-orange.infobox-dark {
    background-color: #e8b110;
    border-color: #e8b110
}

.infobox-orange2 {
    color: #f79263;
    border-color: #f79263
}

.infobox-orange2>.infobox-icon>.ace-icon {
    background-color: #f79263
}

.infobox-orange2.infobox-dark {
    background-color: #f79263;
    border-color: #f79263
}

.infobox-green {
    color: #9abc32;
    border-color: #9abc32
}

.infobox-green>.infobox-icon>.ace-icon {
    background-color: #9abc32
}

.infobox-green.infobox-dark {
    background-color: #9abc32;
    border-color: #9abc32
}

.infobox-green2 {
    color: #0490a6;
    border-color: #0490a6
}

.infobox-green2>.infobox-icon>.ace-icon {
    background-color: #0490a6
}

.infobox-green2.infobox-dark {
    background-color: #0490a6;
    border-color: #0490a6
}

.infobox-grey {
    color: #999;
    border-color: #999
}

.infobox-grey>.infobox-icon>.ace-icon {
    background-color: #999
}

.infobox-grey.infobox-dark {
    background-color: #999;
    border-color: #999
}

.infobox-black {
    color: #393939;
    border-color: #393939
}

.infobox-black>.infobox-icon>.ace-icon {
    background-color: #393939
}

.infobox-black.infobox-dark {
    background-color: #393939;
    border-color: #393939
}

.infobox-dark {
    margin: 1px 1px 0 0;
    border-color: transparent!important;
    border-width: 0;
    color: #FFF;
    padding: 4px
}

.infobox-dark>.infobox-icon>.ace-icon,
.infobox-dark>.infobox-icon>.ace-icon:before {
    background-color: transparent;
    box-shadow: none!important;
    text-shadow: none;
    border-radius: 0;
    font-size: 30px
}

.infobox-dark>.infobox-icon>.ace-icon:before {
    opacity: 1;
    filter: alpha(opacity=100)
}

.infobox-dark .infobox-content {
    color: #FFF
}

.infobox>.infobox-progress {
    padding-top: 0;
    display: inline-block;
    vertical-align: top;
    width: 44px
}

.infobox>.infobox-chart {
    padding-top: 0;
    display: inline-block;
    vertical-align: text-bottom;
    width: 44px;
    text-align: center
}

.infobox>.infobox-chart>.sparkline {
    font-size: 24px
}

.infobox>.infobox-chart canvas {
    vertical-align: middle!important
}

.infobox>.stat {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 11px;
    text-shadow: none;
    color: #ABBAC3;
    font-size: 13px;
    font-weight: 700;
    padding-right: 18px;
    padding-top: 3px
}

.infobox>.stat:before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 11px;
    background-color: #ABBAC3;
    position: absolute;
    right: 4px;
    top: 7px
}

.infobox>.stat:after {
    display: inline-block;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
    border: 12px solid transparent;
    border-width: 8px 7px;
    border-bottom-color: #ABBAC3
}

.infobox>.stat.stat-success {
    color: #77C646
}

.infobox>.stat.stat-success:before {
    background-color: #77C646
}

.infobox>.stat.stat-success:after {
    border-bottom-color: #77C646
}

.infobox>.stat.stat-important {
    color: #E4564F
}

.infobox>.stat.stat-important:before {
    background-color: #E4564F;
    top: 3px
}

.infobox>.stat.stat-important:after {
    border-top-color: #E4564F;
    border-bottom-color: transparent;
    bottom: -6px;
    top: auto
}

.infobox.infobox-dark>.stat {
    color: #FFF
}

.infobox.infobox-dark>.stat:before {
    background-color: #E1E5E8
}

.infobox.infobox-dark>.stat:after {
    border-bottom-color: #E1E5E8
}

.infobox.infobox-dark>.stat.stat-success {
    color: #FFF
}

.infobox.infobox-dark>.stat.stat-success:before {
    background-color: #D0E29E
}

.infobox.infobox-dark>.stat.stat-success:after {
    border-bottom-color: #D0E29E
}

.infobox.infobox-dark>.stat.stat-important {
    color: #FFF
}

.infobox.infobox-dark>.stat.stat-important:before {
    background-color: #FF8482;
    top: 3px
}

.infobox.infobox-dark>.stat.stat-important:after {
    border-top-color: #FF8482;
    border-bottom-color: transparent;
    bottom: -6px;
    top: auto
}

.infobox>.badge {
    position: absolute;
    right: 20px;
    top: 11px;
    border-radius: 0;
    text-shadow: none;
    color: #FFF;
    font-size: 11px;
    font-weight: 700;
    line-height: 15px;
    height: 16px;
    padding: 0 1px
}

.infobox.infobox-dark>.badge {
    color: #FFF;
    background-color: rgba(255, 255, 255, .2)!important;
    border: 1px solid #F1F1F1;
    top: 2px;
    right: 2px
}

.infobox.infobox-dark>.badge.badge-success>.ace-icon {
    color: #C6E9A1
}

.infobox.infobox-dark>.badge.badge-important>.ace-icon {
    color: #ECB792
}

.infobox.infobox-dark>.badge.badge-warning>.ace-icon {
    color: #ECB792
}

.infobox-small {
    width: 135px;
    height: 52px;
    text-align: left;
    padding-bottom: 5px
}

.infobox-small>.infobox-icon,
.infobox-small>.infobox-chart,
.infobox-small>.infobox-progress {
    display: inline-block;
    width: 40px;
    max-width: 40px;
    height: 42px;
    line-height: 38px;
    vertical-align: middle
}

.infobox-small>.infobox-data {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    max-width: 72px;
    min-width: 0
}

.infobox-small>.infobox-chart>.sparkline {
    font-size: 14px;
    margin-left: 2px
}

.percentage {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top
}

.infobox-small .percentage {
    font-size: 13px;
    font-weight: 400;
    margin-top: 2px;
    margin-left: 2px
}

.ace-icon {
    text-align: center
}
.page-header {
    margin: 0 0 12px;
    border-bottom: 1px dotted #e2e2e2;
    padding-bottom: 16px;
    padding-top: 7px
}
.page-header h1{
    padding: 0;
    margin: 0 8px;
    font-size: 24px;
    font-weight: lighter;
    color: #2679b5;
}

.easyPieChart,
.easy-pie-chart {
    position: relative;
    text-align: center
}

.easyPieChart canvas,
.easy-pie-chart canvas {
    position: absolute;
    top: 0;
    left: 0
}
.th_sm_minwidth{
    min-width: 100px;
}
.th_minwidth{
    min-width: 150px;
}

.home_about{
    text-align: justify;
    font-family: 'Lato-Regular';
    color: #676464;
    font-size: 16px;
    line-height: 1.554;
    padding-bottom: 15px;
    /*border-bottom: 3px solid rgba(2, 85, 114, 0.7);*/
}
.home_about_content{
    color: grey;
    text-align: justify;
    font-size: 15px;
    line-height: 1.554;

}
.home_about_content_head{
    color: #5A5A5A;
    font-family: 'Philosopher-Regular';
}
@media (min-width: 480px) and (max-width: 640px){
    .home_about_content_head{
        padding-top: 20px;
    }

}
@media (max-width: 320px){
    .home_about_content_head h3{
        font-size: 20px;
    }

}

/*customized button*/

.btn-info-wizard {
    background-image: -webkit-linear-gradient(top, #1E9BB5 0%, #64CBDA 100%);
    background-image:      -o-linear-gradient(top, #1E9BB5 0%, #64CBDA 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1E9BB5), to(#64CBDA));
    background-image:         linear-gradient(to bottom, #1E9BB5 0%, #64CBDA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #245580;
}

/*.btn-info-wizard {*/
    /*color: #fff;*/
    /*background-color: #4C4944;*/
    /*border-color: #4C4944;*/
/*}*/

.btn-info-wizard:hover {
    background-image: -webkit-linear-gradient(top, #1fa8b5 0%, #64CBDA 100%);
    background-image:      -o-linear-gradient(top, #1fa8b5 0%, #64CBDA 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1fa8b5), to(#64CBDA));
    background-image:         linear-gradient(to bottom, #1fa8b5 0%, #64CBDA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #245580;
}


.btn-info-wizard-active {
    background-image: -webkit-linear-gradient(top, #DA3B2F 20%, #FC5E4C 100%);
    background-image:      -o-linear-gradient(top, #DA3B2F 20%, #FC5E4C 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#DA3B2F), to(#FC5E4C));
    background-image:         linear-gradient(to bottom, #DA3B2F 20%, #FC5E4C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #245580;
}

.btn-info-wizard-active:hover {
    background-image: -webkit-linear-gradient(top, #f14131 20%, #FC5E4C 100%);
    background-image:      -o-linear-gradient(top, #f14131 20%, #FC5E4C 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f14131), to(#FC5E4C));
    background-image:         linear-gradient(to bottom, #f14131 20%, #FC5E4C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #245580;
}

/*btn info-black*/



.btn-info-wizard {
    color: #fff;
    background-color: #4C4944;
    border-color: #4C4944;
}

.btn-info-wizard:hover {
    color: #fff;
    background-color: rgba(76, 73, 68, 0.85);
    border-color: #4C4944;
}
.btn-info-wizard-active {
    color: #fff;
    background-color: #F34A61;
    border-color: #F34A61;
}

.btn-info-wizard-active:hover {
    color: #fff;
    background-color: #d24158;
    border-color: #F34A61;
}
