<div data-ng-controller="rule_config_controller" class="text-lowercase">



    <div class="row">
        <div class="col-md-12">
            <div class="text-center ">
                <!--<button type="button" class="btn_hethi btn-primary btn_wizard">Configure Data Service</button>-->
                <button type="button" class="btn_hethi btn-info-wizard btn_wizard" data-ng-click="selectBusiness(1)">{{configDataService}}</button>
                <button type="button" class="btn_hethi btn-info-wizard-active btn_wizard" data-ng-click="selectBusiness(2)">{{customiseWorkflow}}</button>
                <button type="button" class="btn_hethi btn-info-wizard btn_wizard" data-ng-click="selectBusiness(3)">{{DefineOutput}}</button>
                <button type="button" class="btn_hethi btn-info-wizard btn_wizard" data-ng-click="selectBusiness(4)">{{ErpIntegration}}</button>
                <button type="button" class="btn_hethi btn-info-wizard btn_wizard" data-ng-click="selectBusiness(5)">{{DefineAnalytics}}</button>
                <button type="button" class="btn_hethi btn-info-wizard btn_wizard" data-ng-click="selectBusiness(6)">{{DefineStorage}}</button>
                <button type="button" class="btn_hethi btn-info-wizard btn_wizard" data-ng-click="selectBusiness(7)">{{Businessdemography}}</button>
                <button type="button" class="btn_hethi btn-info-wizard btn_wizard" data-ng-click="selectBusiness(8)">{{ServiceLevelAgrmnt}}</button>
            </div>
        </div>
    </div>
    <hr>

    <!--</div>-->



    <div class="row" id="sample">
        <div class="col-sm-3 col-md-2" id="palettezone" >
            <!--<a href="#" class="btn btn-danger btn-sm btn-block" role="button"><i class="glyphicon glyphicon-edit"></i> </a>-->

            <!--<ul id="palettezone" class="nav nav-boxed tabbable ver-vertical-menu"  ng-init="palette();">-->
            <!--<li class="active"><a data-toggle="tab" href="#" data-ng-click="showProcess()"><span class="badge badge-danger pull-right">3</span> Process </a>-->
            <!--</li>-->
            <div id="Start" drag-value="Start" class="draggable leftNav_head_menu start_bg mouse_point" draggable="true">
                <!--<a data-toggle="tab" href="#" data-ng-click="showProcess()">-->
                <!--<span class="badge badge-danger pull-right">3</span> -->
                Start
            </div>
            <div class="leftNav_head_menu_process_head mouse_point" data-ng-click="showProcess()">
                <!--<a data-toggle="tab" href="#" data-ng-click="showProcess()">-->
                <!--<span class="badge badge-danger pull-right">3</span> -->
                <span class="text-center">Process</span><span class="pull-right " ng-class="IsVisibleProcess ? 'fa fa-chevron-up': 'fa fa-chevron-down'"></span>
            </div>
            <div class="margin_class mouse_point" ng-show = "IsVisibleProcess" ng-repeat="(key,value) in Process_grouped">
                <div data-ng-click="processes[$index].expand=!processes[$index].expand;" class="leftNav_head_menu_process">
                    <span class="text-center">{{key}}</span><span class="pull-right " ng-class="processes[$index].expand ? 'fa fa-angle-up': 'fa fa-angle-down'"></span>
                </div>
                <div ng-show = "processes[$index].expand">
                    <div class="draggable leftNav_head_menu_process_{{item.hethi_servicecode}}"
                         id="draggable{{key}}Process{{$index}}"
                         drag-value="{{item}}"
                         ng-repeat="item in value"
                         draggable="true">
                        {{item.name}}
                    </div>
                </div>
            </div>


            <!--<li><a href="#" data-toggle="tab" data-ng-click="showRules()">Rules</a></li>-->
            <div class="leftNav_head_menu_process_head mouse_point" data-ng-click="showRules()" >
                <!--<a data-toggle="tab" href="#" data-ng-click="showRules()">-->
                <!--<span class="badge badge-danger pull-right">3</span>-->
                <span class="text-center">Rules</span><span class="pull-right " ng-class="IsVisibleRule ? 'fa fa-chevron-up': 'fa fa-chevron-down'"></span>

            </div>

            <div class="margin_class">
                <div ng-show = "IsVisibleRule" class="draggable leftNav_head_menu_rules" id="draggableRule{{$index}}" drag-value="{{item}}" ng-repeat="item in Rules" draggable="true">
                    {{item.name}}
                </div>
            </div>
            <div id="End" drag-value="End" class="draggable leftNav_head_menu end_bg mouse_point" style="background-color: #DC3C00" draggable="true">
                <!--<a data-toggle="tab" href="#" data-ng-click="showProcess()">-->
                <!--<span class="badge badge-danger pull-right">3</span> -->
                End
            </div>
            <!--</ul>-->

        </div>
        <div class="col-md-10">
            <div class="dropzone" id="myDiagram" style="border: solid 1px gray; height: 400px"></div>
            <!--<div id="contextMenu">-->
            <!--<ul>-->
            <!--<li><a href="#" id="cut" onclick="cxcommand(this.textContent)">Cut</a></li>-->
            <!--<li><a href="#" id="copy" onclick="cxcommand(this.textContent)">Copy</a></li>-->
            <!--<li><a href="#" id="paste" onclick="cxcommand(this.textContent)">Paste</a></li>-->
            <!--<li><a href="#" id="delete" onclick="cxcommand(this.textContent)">Delete</a></li>-->
            <!--<li><a href="#" id="color" onclick="cxcommand('Color')">Color</a></li>-->
            <!--</ul>-->
            <!--</div>-->

        </div>


        <!--rule model starts-->

        <div id="ruleModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div>
                        <div class="modal-header">
                            <span class="fa fa-close ash-c pull-right mouse_point" data-dismiss="modal" aria-hidden="true"></span>

                            <h4 class="modal-title text-center">Rule Properties</h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel-body panel">
                                <div class="page-header">
                                    <a class=" pull-right mouse_point text-small" data-ng-click="open_process_list=!open_process_list"> Change process</a>
                                    <h4 class="modal-title text-center">{{selected_workflow_process.text}}</h4>
                                </div>
                                <section >
                                    <form class="form-horizontal text-center form-validation" name="form_constraints" >
                                        <div class="row">

                                                <div class="row margin-top-10" ng-show="open_process_list" >
                                                    <div class="col-md-4 ">
                                                        <label class="control-label">Select Process </label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select class="form-control" ng-model="selected_efs_uin" required="" ng-change="selected_process_changed()">
                                                            <option value=""> Select Process </option>
                                                            <optgroup ng-repeat="(key,value) in Process_grouped" label="{{key}}">
                                                                <option  ng-repeat="item in value" value="{{item}}">{{item.hethi_subservicecode}} </option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>


                                                <div class="row margin-top-10" >
                                                    <form  data-ng-submit="">

                                                        <div class="col-md-4 ">
                                                            <label class="control-label">Select Workset </label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <select class="form-control" ng-model="selected_workset" name="select" required="">
                                                                <option value=""> Select Workset</option>
                                                                <option data-ng-repeat="ws in cruleworkset_list" value="{{ws.workset_id}}"> {{ws.workset_name}} </option>
                                                            </select>
                                                        </div>


                                                    </form>


                                                </div>
                                            <div class="row margin-top-10" >
                                                <form  data-ng-submit="">

                                                    <div class="col-md-4 ">
                                                        <label class="control-label">Select Ruleset </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select class="form-control" ng-model="selected_ruleset" name="select" required="">
                                                            <option value=""> Select Ruleset</option>
                                                            <option data-ng-repeat="rs in cruleset_list | filter:{'workset_id':selected_workset}" value="{{rs.cruleset_id}}"> {{rs.crulesset_name}} </option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-2 ">
                                                        <button class="btn btn-sm btn_hethi btn-success" type="submit" data-ng-click="addNewRuleForProcess(selected_ruleset)" > Save </button>
                                                    </div>

                                                </form>


                                            </div>





                                            <div class="row margin-top-10" ng-show="rules_for_selected_process" >
                                                <div class="col-md-12 ">
                                                    <h4> Available workset</h4>
                                                    <div class="table-responsive">
                                                    <table class="table table-bordered hethi_content_table">
                                                    <thead style="background-color: rgba(255,175,194,0.20);">

                                                    <tr class="text-center">
                                                        <th class="text-center"> </th>
                                                        <th class="text-center">#</th>
                                                        <th class="text-center">workset_name</th>
                                                        <th class="text-center">rule_name</th>
                                                        <th class="text-center">rule_condition</th>
                                                        <th class="text-center">rule_action</th>
                                                    </tr>
                                                    </thead>


                                                    <tbody ng-repeat="rules in rules_for_selected_process">

                                                    <tr>

                                                        <td> <button type="button" class="btn btn-success " data-ng-click="deleteRuleForProcess(rules);"> <span class="fa fa-trash"></span></button> </td>
                                                        <td>{{$index+1}}</td>
                                                        <td>{{rules.workset_name}}</td>
                                                        <td>{{rules.rule_name}}</td>
                                                        <td>{{rules.rule_condition}}</td>
                                                        <td>{{rules.rule_action}}</td>

                                                    </tr>

                                                    </tbody>
                                                    </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </form>
                                </section>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section data-ng-include="'pages/formModal.html'" data-ng-controller="delegationController">

        </section>
    </div>

    <!--<div class="row">-->
    <!--<div class="col-md-12">-->

    <!--<div>-->


    <!--<div id="sample" >-->
    <!--<div style="width:100%; white-space:nowrap;">-->
    <!--&lt;!&ndash;<span style="display: inline-block; vertical-align: top; padding: 5px; width:100px">&ndash;&gt;-->
    <!--&lt;!&ndash;<div id="myPalette" style="border: solid 1px gray; height: 720px"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--<span style="display: inline-block; vertical-align: top; padding: 5px;">-->
    <!--<div id="palettezone" class="palettezone" ng-init="palette();">-->
    <!--<div class="draggable" id="draggableProcess{{$index}}" drag-value="{{item}}" ng-repeat="item in processes" draggable="true">-->
    <!--{{item.name}}-->
    <!--</div>-->
    <!--<div class="draggable" id="draggableRule{{$index}}" drag-value="{{item}}" ng-repeat="item in Rules" draggable="true">-->
    <!--{{item.name}}-->
    <!--</div>-->
    <!--</div>-->
    <!--</span>-->

    <!--<span style="display: inline-block; vertical-align: top; padding: 5px; width:80%">-->
    <!--<div class="dropzone" id="myDiagram" style="border: solid 1px gray; height: 720px"></div>-->
    <!--</span>-->
    <!--</div>-->

    <!--<input id="remove" type="checkbox"><label for="remove">Remove HTML item after drag</label>-->

    <!--<button id="SaveButton" data-ng-click="save()">Save</button>-->
    <!--<button data-ng-click="load()">Load</button>-->
    <!--<textarea ng-model="mySavedModel" style="width:100%;height:300px">-->

    <!--</textarea>-->

    <!--<button data-ng-click="makeSVG()">Render as SVG</button>-->
    <!--<div id="SVGArea"></div>-->
    <!--</div>-->

    <!--</div>-->





    <!--</div>-->
    <!--</div>-->

    <div class="row margin-top-10">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-success" data-ng-click="saveFlow();">Save Flow <span class="fa fa-forward"></span></button>
            </div>
        </div>

    </div>
    <div class="row margin-top-10">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-info" data-ng-click="nextOutputChannel();selectBusiness(3)">Next <span class="fa fa-forward"></span></button>
            </div>
        </div>

    </div>

    <!--<div class="row">-->
    <!--<div class="col-md-12">-->

    <!--<div>-->


    <!--<div id="sample" >-->
    <!--<div style="width:100%; white-space:nowrap;">-->
    <!--&lt;!&ndash;<span style="display: inline-block; vertical-align: top; padding: 5px; width:100px">&ndash;&gt;-->
    <!--&lt;!&ndash;<div id="myPalette" style="border: solid 1px gray; height: 720px"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--<span style="display: inline-block; vertical-align: top; padding: 5px;">-->
    <!--<div id="palettezone" class="palettezone" ng-init="palette();">-->
    <!--<div class="draggable" id="draggableProcess{{$index}}" drag-value="{{item}}" ng-repeat="item in processes" draggable="true">-->
    <!--{{item.name}}-->
    <!--</div>-->
    <!--<div class="draggable" id="draggableRule{{$index}}" drag-value="{{item}}" ng-repeat="item in Rules" draggable="true">-->
    <!--{{item.name}}-->
    <!--</div>-->
    <!--</div>-->
    <!--</span>-->

    <!--<span style="display: inline-block; vertical-align: top; padding: 5px; width:80%">-->
    <!--<div class="dropzone" id="myDiagram" style="border: solid 1px gray; height: 720px"></div>-->
    <!--</span>-->
    <!--</div>-->

    <!--<input id="remove" type="checkbox"><label for="remove">Remove HTML item after drag</label>-->


    <button id="SaveButton" data-ng-click="save()">Save</button>
    <button data-ng-click="load()">Load</button>
  <textarea ng-model="mySavedModel" style="width:100%;height:300px">

  </textarea>

    <button data-ng-click="makeSVG()">Render as SVG</button>
    <div id="SVGArea"></div>
    <!--</div>-->

    <!--</div>-->





    <!--</div>-->
    <!--</div>-->

    <!--<div class="row margin-top-10">-->
    <!--<div class="col-md-12">-->
    <!--<div class="pull-right">-->
    <!--<button class="btn btn-success" data-ng-click="saveFlow();">Save Flow <span class="fa fa-forward"></span></button>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--<div class="row margin-top-10">-->
    <!--<div class="col-md-12">-->
    <!--<div class="pull-right">-->
    <!--<button class="btn btn-info" data-ng-click="nextOutputChannel();selectBusiness(3)">Next <span class="fa fa-forward"></span></button>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

</div>