<div>


    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <!--<button type="button" class="btn_hethi btn-primary btn_wizard">Configure Data Service</button>-->
                <button type="button" class="btn_hethi btn-primary btn_wizard" data-ng-click="selectRFI(1)">{{configDataService}}</button>
                <button type="button" class="btn_hethi btn-primary btn_wizard" data-ng-click="selectRFI(2)">{{customiseWorkflow}}</button>
                <button type="button" class="btn_hethi btn-success btn_wizard" data-ng-click="selectRFI(3)">{{DefineOutput}}</button>
                <button type="button" class="btn_hethi btn-primary btn_wizard" data-ng-click="selectRFI(4)">{{ErpIntegration}}</button>
                <button type="button" class="btn_hethi btn-primary btn_wizard" data-ng-click="selectRFI(5)">{{DefineStorage}}</button>
                <button type="button" class="btn_hethi btn-primary btn_wizard" data-ng-click="selectRFI(6)">{{DefineAnalytics}}</button>


            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <select class="form-control input-hethi input-md">
                                <option value="0">-- form type --</option>
                                <option>form 1</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                </div>
            </div>

            <div class="divider-md"></div>

            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-info ng-scope">
                        <div class="panel-heading text-center">

                            <!--<span class="fa fa-th"></span> -->
                            capture services

                        </div>
                        <!--<div class="scrollbar-325" id="style-7">-->
                        <!--<div class="force-overflow">-->
                        <div class="panel-body " style="min-height: 328px">

                            <div class="row">
                                <div class="col-md-4">
                                    <div style="padding-top: 5px;padding-bottom: 5px;text-align: center;border: 1px solid grey">channel</div>
                                    <div class="panel-body">
                                        <div class="row " ng-repeat="btn in outputContent">
                                            <label class="col-md-6 control-label">{{btn.name}}</label>
                                            <div class="col-md-6">
                                                <label class="switch"><input type="checkbox" ng-model="item.activate"><i></i></label>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="text-center form-control input-hethi" placeholder="load start">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="text-center form-control input-hethi" placeholder="load end">

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div style="padding-top: 5px;padding-bottom: 5px;text-align: center;border: 1px solid grey">source</div>
                                    <div class="panel-body">
                                        <div class="row " ng-repeat="btn in outputChannel">
                                            <label class="col-md-6 control-label">{{btn.name}}</label>
                                            <div class="col-md-6">
                                                <label class="switch"><input type="checkbox" ng-model="item.activate"><i></i></label>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-8">
                                            <button type="button" class="form-control btn btn-round btn-info"><span class="fa fa-plus"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-8">
                                            <button type="button" class="form-control btn btn-round btn-info"><span class="fa fa-plus"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-info ng-scope">
                        <div class="panel-heading text-center">

                            <!--<span class="fa fa-th"></span> -->
                            capture services summary

                        </div>
                        <div class="panel-body " style="min-height: 328px">
                            <div class="scrollbar-245" id="style-7">
                                <div class="force-overflow">



                                </div>
                            </div>

                            <div ng-show="true" class="row margin-top-5" style="border-top: 2px solid #e96351; padding-top: 10px;">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button type="button" data-ng-click="assignClick()" class="text-lowercase btn_hethi btn-info">&nbsp;&nbsp;Preview RFI&nbsp;&nbsp;</button>
                                        <button type="submit"  class="text-lowercase btn_hethi btn-success">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>


</div>