
<div class="row" >
    <div id="operationPalette" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog" >
            <div class="modal-content">
                <div>
                    <div class="modal-header modal-head-bg-default">
                        <span class="fa fa-close white-c pull-right mouse_point" data-dismiss="modal" aria-hidden="true"></span>

                        <h4 class="modal-title text-center">Operation Palette</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body panel">
                             <div class="row">
                                 <div class="col-md-5">
                                     <span><i class="fa fa-info-circle text-primary"></i> select any operation or</span>
                                 </div>
                                 <div class="col-md-6">
                                     <div class="input-group">
                                         <input placeholder="search operation" type="text" class="form-control" ng-model="operation_name">
                                         <span class="input-group-addon fa fa-search btn-info" data-ng-click="selectOperation(operation_name)"></span>
                                     </div>
                                 </div>
                             </div>
                            <div class="row margin-bottom-20">
                                <div class="col-md-3">
                                    and click apply
                                </div>
                            </div>
                             <hr class="text-primary">
                            <div class="row   margin-bottom-10">
                                    <button class="btn_hethi_square btn-danger" style="border-radius: 100%" type="button" ng-click="changeDisplay()">next track</button>
                                    <span class="pull-right"></span>
                            </div>

                            <div class="row">
                                <div ng-repeat="oper in operationList.opRow " id="displayId" ng-show="$index >= displayItems && $index < displayItems+2" >
                                    <div class="row margin-bottom-20" >
                                        <div class="col-md-3" ng-repeat="opera in oper">
                                            <div data-toggle="tooltip" data-placement="top"

                                                 tooltip="{{opera.description}}"
                                                 tooltip-placement="top"
                                                 ng-click="selectOperation(opera,$index)" ng-class="opera.status == 1 ? 'active  mouse_point':'operation mouse_point'" >
                                                {{opera.operation_name}}
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>



                            <div class="row margin-bottom-20">
                                <div class="col-md-12">
                                    <span class="operation-status text-primary" ng-show="selected">You are selected <label>{{selected}} </label> </span>
                                </div>
                            </div>
                            <div class="row margin-bottom-20">
                                <div class="col-md-4"></div>
                                <div class="col-md-4 text-center">
                                    <button ng-click="applyOperation()"  type="submit" class="btn btn-primary form-control">
                                        apply
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>