<div data-ng-controller="OperationsPartnerController">

    <div class="container">
        <div class="fixed rounded_item_fixed">
            <ul class="round-topics-fixed">
                <li ng-repeat=" tabs in op_tabs">

                    <a href="#" ng-switch="tabs.name" data-ng-click="selectOPTab(tabs.name)">
                        <i class="fa fa-{{tabs.icon}} ul_round_{{tabs.isActive}}"></i>
                        <span ng-switch-default="">{{tabs.name}}</span>
                        <span ng-switch-when="initiate_implementation"> implementation</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>



    <section id="details_div">
        <div class="container-fluid">
            <div ng-switch="selectedOPTab">
                <div ng-switch-default="">
                    <h3  class="text-center"> <label>{{selectedOPTab}} </label></h3>
                    <h3 ng-show="selectedOPTab"> <label>Unable to open this tab please refer the page 'pages/roles/operations_partner/homepage.html' </label></h3>
                </div>
                <div ng-switch-when="manage_offers">
                    <data-ng-include src="'pages/roles/operations_partner/manage_offers.html'"/>
                </div>
                <div ng-switch-when="classify_source">
                    <data-ng-include src="'pages/roles/operations_partner/classify_source.html'"/>
                </div>
                <div ng-switch-when="impersonate">
                    <data-ng-include src="'pages/roles/operations_partner/impersonate.html'"/>
                </div>
                <div ng-switch-when="initiate_implementation">
                    <data-ng-include src="'pages/roles/operations_partner/implementation.html'"/>
                </div>
            </div>
        </div>
    </section>


</div>