<div data-ng-controller="OperationsPartnerController">
    <div class="row">

        <div class="col-md-12">

            <div style="margin-top: 160px;">

                <div class="col-sm-6 col-md-3 " ng-repeat=" tabs in op_tabs">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row home-page" >
                            <div class="services clearfix">
                                <div class="service_item service_two span4">
                                    <!--background-color:#7cc0fc; detail_{{$index}}-->
                                    <div class="detail  " style="background-color:#7cc0fc;"  data-ng-click="selectOPTab(tabs.name)">
                                        <div ng-switch="tabs.name">
                                            <h2 ng-switch-default="" > {{tabs.name}}</h2>
                                            <h2 ng-switch-when="initiate_implementation"> implementation</h2>
                                            <!--<span ng-show="value" class="service_item  detail_{{value}}  " >_____________________</span>-->
                                        </div>

                                        <p></p>
                                        <a href="" data-ng-click="selectOPTab(tabs.name)" class="detail_{{tabs.isActive}}" style="font-weight: 900; "><b>____</b></a>
                                    </div>
                                    <img class="shadow" src="styles/img/service_shadow.png" alt="" border="0">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <HR>
        <div class="col-md-12" id="details_div" >
            <div ng-switch="selectedOPTab">
                <div ng-switch-default="">
                    <h3  class="text-center"> <label>{{selectedOPTab}} </label></h3>
                    <h3 ng-show="selectedOPTab"> <label>Unable to open this tab please refer the page 'pages/roles/operations_partner/homepage.html' </label></h3>
                </div>
                <div ng-switch-when="manage_offers">
                    <data-ng-include src="'pages/roles/operations_partner/manage_offers.html'"/>
                </div>
                <div ng-switch-when="classify_source">
                    <data-ng-include src="'pages/roles/operations_partner/classify_source.html'"/>
                </div>
                <div ng-switch-when="impersonate">
                    <data-ng-include src="'pages/roles/operations_partner/impersonate.html'"/>
                </div>
                <div ng-switch-when="initiate_implementation">
                    <data-ng-include src="'pages/roles/operations_partner/implementation.html'"/>
                </div>
        </div>


    </div>
</div>
</div>