<div data-ng-controller="admin_select_bps" class="margin_top_60">


    <div class="containerlg">
        <div class="thanksMsg">
            <h1>
                Thank you {{loginedUserData.user_name}}
            </h1>
            <div class="divider-md"></div>

            <!--<p>-->
                <!--{{selectedCustomer.customer_name}}-->
            <!--</p>-->
            <h3>{{selectedCustomer.customer_name}} has been successfully allocated to {{selectedBArtist.user_name}}</h3>
            <div class="form-group margin-top-20">
                <div class="col-md-12">
                    <div class="text-center">
                        <button data-ng-click="goToInbox();" class="btn_hethi btn-default btn-block" type="button">INBOX</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!--<div class="col-md-6 col-lg-offset-4"><h1>Thank you {{loginedUserData.user_name}}</h1> </div>-->
    <!--<div class ="col-md-2">-->
        <!--<button data-ng-click="goToInbox();" class="btn_hethi btn-default btn-block" type="button">INBOX</button>-->
        <!--<div><label></label></div>-->
    <!--</div>-->
    <!--<div class ="col-md-12"style="padding-top: 20px">-->
    <!--<div class="leftNav_head"> </div>-->
    <!--</div>-->
    <!--<div class="col-md-2 col-lg-offset-1" style="padding-top: 10%">-->
        <!--<img src_="" height="150" width="150"><BR>-->
        <!--<h4>{{selectedCustomer.customer_name}}</h4>-->
    <!--</div>-->
    <!--<div class="col-md-6"style="padding-top: 12%">-->
        <!--<h3>Has been successfully allocated to {{selectedBArtist.user_name}}</h3>-->
    <!--</div>-->
</div>