<div class="" data-ng-controller="NewHomeController">



    <section class="hidden-xs">
        <div class=" background_color_nav fixed margin-top-75">
            <div class="container-fluid">
                <div class="container">
                    <div class="header_content pull-right">
                        <span><a href="#">business process services</a></span>
                        <span><a href="#">BPaaS platform services</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider-lg"></div>
        <div class="divider-md"></div>
    </section>


    <section class="visible-xs">
        <!--<div class="background_color_nav ">-->
            <!---->
        <!--</div>-->
        <div class="row">
            <div class="header_content_xs ">

                <div class="col-xs-6">
                    <span><a href="#">business process services</a></span>
                </div>
                <div class="col-xs-6">
                    <span><a href="#">BPaaS platform services</a></span>

                </div>
            </div>
        </div>
    </section>



    <div class="container">
        <div class="row">
            <div class="col-md-12">
                            <span class="bg-text-center">
                                business $implified, improve agility
                            </span>
            </div>
        </div>
        <div class="callbacks_container">
            <ul class="rslides" id="slider4">
                <li>
                    <img src="images/banner1.jpg" alt="">
                    <p class="caption-left">invoice process to pay</p>
                </li>
                <li>
                    <img src="images/partnerProcess.jpg" alt="">
                    <p class="caption-right">partner process to pay</p>
                </li>
                <li>
                    <img src="images/enroll.jpg" alt="">
                    <p class="caption-bottom">enroll process to pay</p>
                </li>
            </ul>
        </div>
        <script src="styles/responsive_slider/responsiveslides.min.js"></script>

        <script>
            // You can also use "$(window).load(function() {"
            $(function () {


                // Slideshow 4
                $("#slider4").responsiveSlides({
                    auto: true,
                    pager: false,
                    nav: false,
                    speed: 1000,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });

            });
        </script>
    </div>


    <div class="container" id="navbar-main">
        <div id="snav" class="hidden-xs hidden-sm" >
            <div id="snav-labels">
                <div class="row snav">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center"><a id="snav-label-1" data-ng-click="GotoNetwork()" class="snav-label {{networkActive}}">
                        <img src="images/icon/hethinetwork.png">&nbsp;&nbsp;hethi business network</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center"><a id="snav-label-2" data-ng-click="GotoDesignStudio()" class="snav-label {{designStudioActive}}">
                        <img src="images/icon/interact_design.png">&nbsp;&nbsp;interactive design studio</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center"><a id="snav-label-3" data-ng-click="GotoPremises()" class="snav-label {{premiseActive}}">
                        <img src="images/icon/bpaasoncloud.png">&nbsp;&nbsp;BPaaS on cloud & on premises</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center"><a id="snav-label-4" data-ng-click="GotoDelivery()" class="snav-label {{deliveryActive}}">
                        <img src="images/icon/workflowservice.png">&nbsp;&nbsp;self service workflow</a>
                    </div>

                    <!--<div class="col-xs-3 col-sm-2 col-md-3 col-lg-3 text-center"><a id="snav-label-1" data-ng-click="selectHome(1)" class="snav-label {{networkActive}}"><img src="images/icon/hethinetwork.png">&nbsp;&nbsp;hethi business network</a></div>-->
                    <!--<div class="col-xs-3 col-sm-2 col-md-3 col-lg-3 text-center"><a id="snav-label-2" data-ng-click="selectHome(2)" class="snav-label {{designStudioActive}}"><img src="images/icon/interact_design.png">&nbsp;&nbsp;interactive design studio</a></div>-->
                    <!--<div class="col-xs-3 col-sm-2 col-md-3 col-lg-3 text-center"><a id="snav-label-3" data-ng-click="selectHome(3)" class="snav-label {{premiseActive}}"><img src="images/icon/bpaasoncloud.png">&nbsp;&nbsp;BPaaS on cloud & on premises</a></div>-->
                    <!--<div class="col-xs-3 col-sm-2 col-md-3 col-lg-3 text-center"><a id="snav-label-4" data-ng-click="selectHome(4)" class="snav-label {{deliveryActive}}"><img src="images/icon/workflowservice.png">&nbsp;&nbsp;self service workflow</a></div>-->
                </div>
            </div>
            <!--on cloud, on premise, on network, cloudplug , design studio, self service workflow-->
            <div id="snav-caret">
                <div class="row snav">
                    <div id="snav-caret-1" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 offset-2 text-center"><span class="{{onNetwork}}"></span></div>
                    <div id="snav-caret-2" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 offset-2 text-center"><span class="{{onDesignStudio}}"></span></div>
                    <div id="snav-caret-3" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 offset-2 text-center "><span class="{{onPremise}}"></span></div>
                    <div id="snav-caret-4" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 offset-2 text-center"><span class="{{onDelivery}}"></span></div>
                </div>
            </div>
        </div>

        <script>

        </script>
    </div>

    <!--Mobile Responsive menu-->

    <section class="visible-sm visible-xs margin-top-10">
        <div class="container">
            <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-info">
                <accordion-group is-open="status.isFirstOpen1">
                    <accordion-heading>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                hethi business network
                            </div>
                        </div>
                    </accordion-heading>
                    <div data-ng-include="'pages/hethi/home_page/hethi_business_network.html'"></div>
                </accordion-group>
                <accordion-group>
                    <accordion-heading>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                interactive design studio
                            </div>
                        </div>
                    </accordion-heading>
                    <div data-ng-include="'pages/hethi/home_page/interactive_design_studio.html'"></div>
                </accordion-group>
                <accordion-group>
                    <accordion-heading>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                BPaaS oncloud & onpremises
                            </div>
                        </div>
                    </accordion-heading>
                    <div data-ng-include="'pages/hethi/home_page/bpaas_oncloud.html'"></div>
                </accordion-group>
                <accordion-group>
                    <accordion-heading>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                self service workflow
                            </div>
                        </div>
                    </accordion-heading>
                    <div data-ng-include="'pages/hethi/home_page/self_service_workflow.html'"></div>
                </accordion-group>
            </accordion>

        </div>



    </section>



    <section id="getNetworks" class="hidden-xs hidden-sm">
        <div class="container" ng-show="showNetworks" data-ng-include="'pages/hethi/home_page/hethi_business_network.html'"></div>
        <div class="container" ng-show="showDesignStudio" data-ng-include="'pages/hethi/home_page/interactive_design_studio.html'"></div>
        <div class="container" ng-show="showBpaaS" data-ng-include="'pages/hethi/home_page/bpaas_oncloud.html'"></div>
        <div class="container" ng-show="showSelfService" data-ng-include="'pages/hethi/home_page/self_service_workflow.html'"></div>
    </section>



<div class="divider-lg"></div>


</div>





