<!--<div data-ng-controller="taskListController" class="prt">-->
<div data-ng-controller="service_level_Controller" class="margin_top_60">

    <div class="row hethiSummary_Caption">
            <div class="col-md-4 text-left">
                <span>Customer :</span>
                <span></span>
            </div>
        <div class="col-md-4 text-center">
            <span>BPS :</span>
            <span></span>
        </div>
        <div class="col-md-4 text-right">
            <span>Type :</span>
            <span>New</span>
        </div>
    </div>


    <!--<div class="col-md-12">-->
        <!--<ul class="nav nav-boxed nav-justified tabbable">-->
            <!--<li ng-repeat="menu in menuItems"><a href="#" data-toggle="tab" > {{menu.menu_name}}</a></li>-->
        <!--</ul>-->
    <!--</div>-->

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1" ng-repeat="menu in menuItems">
            <div class="text-center margin-bottom-30">
                <button type="button" class="btn_hethi btn-primary text-small minHeight85" ng-class="menu.isActive"> {{menu.menu_name}} </button>
            </div>
        </div>
    </div>





    <div class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Service level agreement</strong></div>
        <div class="panel-body">
            <div class="table-filters">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <form>
                            <input type="text"
                                   placeholder="search"
                                   class="form-control"
                                   data-ng-model="searchKeywordsIndexer"
                                   data-ng-keyup="searchIndexer()">
                        </form>
                    </div>
                    <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredStoresIndexer.length}}/{{storesIndexer.length}} entries
                    </span>
                    </div>
                </div>

            </div>
            <div class="row margin-bottom-5">
                <div class="col-md-12">
                    <!--<button type="button" class="btn_hethi btn-warning" >Export</button>-->
                    <div class="btn-group">
                        <button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Table Data</button>
                        <ul class="dropdown-menu " role="menu">
                            <li><a href="#" data-ng-click="exportData()"> <img src="images/icon/xls.png" width="24px"> XLSX</a></li>
                            <li><a href="#" data-ng-click="exportPDF()"> <img src="images/icon/pdf.png" width="24px"> PDF</a></li>
                            <li><a href="#" data-ng-click="exportCSV()"> <img src="images/icon/csv.png" width="24px"> CSV</a></li>



                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-responsive" id="exportable">
                <table class="table table-bordered table-stripped  hethi_content_table">
                    <thead style="background-color: #000000; color: #ffffff">
                    <tr>

                        <th class="text-center">
                            <div class="th">Data Process
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" orderIndexer('data_process') "
                                  data-ng-class="{active: row == 'data_process'}">

                            </span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" orderIndexer('-data_process') "
                                  data-ng-class="{active: row == '-data_process'}">

                            </span>
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="th" style="width: 200px">
                                Incoming Channel
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" orderIndexer('incoming_channel') "
                                  data-ng-class="{active: row == 'incoming_channel'}">

                            </span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" orderIndexer('-incoming_channel') "
                                  data-ng-class="{active: row == '-incoming_channel'}">

                            </span>
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="th">
                                Input Format
                             <span class="glyphicon glyphicon-chevron-up"
                                   data-ng-click=" orderIndexer('input_format') "
                                   data-ng-class="{active: row == 'input_format'}">

                            </span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" orderIndexer('-input_format') "
                                  data-ng-class="{active: row == '-input_format'}">

                            </span>
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="th">
                                Output Content
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" orderIndexer('output_content') "
                                  data-ng-class="{active: row == 'output_content'}">

                            </span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" orderIndexer('-output_content') "
                                  data-ng-class="{active: row == '-output_content'}">

                            </span>
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="th" style="width: 200px">
                                Output Channel
                             <span class="glyphicon glyphicon-chevron-up"
                                   data-ng-click=" orderIndexer('output_channel') "
                                   data-ng-class="{active: row == 'output_channel'}">

                            </span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" orderIndexer('-output_channel') "
                                  data-ng-class="{active: row == '-output_channel'}">

                            </span>
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="th">
                                Volume/Day
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click=" orderIndexer('volume') "
                                    data-ng-class="{active: row == 'volume'}">

                            </span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" orderIndexer('-volume') "
                                  data-ng-class="{active: row == '-volume'}">

                            </span>
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="th">
                               TAT
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" orderIndexer('TAT') "
                                  data-ng-class="{active: row == 'TAT'}">

                            </span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" orderIndexer('-TAT') "
                                  data-ng-class="{active: row == '-TAT'}">

                            </span>
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="th">
                                QualityBase
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" orderIndexer('quality_base') "
                                  data-ng-class="{active: row == 'quality_base'}">

                            </span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" orderIndexer('-quality_base') "
                                  data-ng-class="{active: row == '-quality_base'}">

                            </span>
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="th">
                                Permissible QA
                             <span class="glyphicon glyphicon-chevron-up"
                                   data-ng-click=" orderIndexer('permisible_QA') "
                                   data-ng-class="{active: row == 'permisible_QA'}">

                            </span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" orderIndexer('-permisible_QA') "
                                  data-ng-class="{active: row == '-permisible_QA'}">

                            </span>
                            </div>
                        </th>


                    </tr>
                    </thead>
                    <tbody>

                    <tr data-ng-repeat="indexer in currentPageStoresIndexer">

                        <td>{{indexer.data_process}}</td>
                        <td>{{indexer.incoming_channel}}</td>
                        <td>{{indexer.input_format}}</td>
                        <td>{{indexer.output_content}}</td>
                        <td>{{indexer.output_channel}}</td>
                        <td>{{indexer.volume}}</td>
                        <td>{{indexer.TAT}}</td>
                        <td>{{indexer.quality_base}}</td>
                        <td>{{indexer.permisible_QA}}</td>

                    </tr>


                    </tbody>
                </table>
            </div>
            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPageIndexer"
                                data-ng-options="num for num in numPerPageOptIndexer"
                                data-ng-change="onNumPerPageChangeIndexer()">
                        </select>
                        entries per page
                    </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <pagination class="pagination-sm"
                                    page="currentPageIndexer"
                                    total-items="filteredStoresIndexer.length"
                                    max-size="4"
                                    ng-click="selectIndexer(currentPageIndexer)"
                                    items-per-page="numPerPageIndexer"
                                    rotate="false"
                                    boundary-links="true"></pagination>
                    </div>
                </div>
            </footer>

            <div class="col-md-12">
                <div class="text-center margin-bottom-30">
                    <a href="/"><button type="button" class="btn_hethi-lg btn-success" > Review & Publish </button></a>

                </div>

            </div>

        </div>

    </div>



    <!--<div class="panel panel-default table-dynamic" data-ng-controller="taskListController">-->
    <!--<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Task List View</strong></div>-->
    <!--<div class="panel-body">-->
    <!--<div class="table-filters">-->
    <!--<div class="row">-->
    <!--<div class="col-sm-4 col-xs-6">-->
    <!--<form>-->
    <!--<input type="text"-->
    <!--placeholder="search"-->
    <!--class="form-control"-->
    <!--data-ng-model="searchKeywords"-->
    <!--data-ng-keyup="search()">-->
    <!--</form>-->
    <!--</div>-->
    <!--<div class="col-sm-3 col-xs-6 filter-result-info">-->
    <!--<span>-->
    <!--Showing {{filteredStores.length}}/{{stores.length}} entries-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="table-responsive">-->
    <!--<table class="table table-bordered table-striped table-responsive hethi_content_table">-->
    <!--<thead style="background-color: #000000;color: #ffffff">-->
    <!--<tr>-->
    <!--<th class="text-center" style="width: 100px"><div class="th">-->
    <!--Action-->
    <!--&lt;!&ndash;<span class="glyphicon glyphicon-chevron-up"&ndash;&gt;-->
    <!--&lt;!&ndash;data-ng-click=" order('name') "&ndash;&gt;-->
    <!--&lt;!&ndash;data-ng-class="{active: row == 'name'}"></span>&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="glyphicon glyphicon-chevron-down"&ndash;&gt;-->
    <!--&lt;!&ndash;data-ng-click=" order('-name') "&ndash;&gt;-->
    <!--&lt;!&ndash;data-ng-class="{active: row == '-name'}"></span>&ndash;&gt;-->
    <!--</div></th>-->
    <!--<th><div class="th">-->
    <!--Task-->
    <!--<span class="glyphicon glyphicon-chevron-up"-->
    <!--data-ng-click=" order('Task') "-->
    <!--data-ng-class="{active: row == 'Task'}"></span>-->
    <!--<span class="glyphicon glyphicon-chevron-down"-->
    <!--data-ng-click=" order('-Task') "-->
    <!--data-ng-class="{active: row == '-Task'}"></span>-->
    <!--</div></th>-->
    <!--<th><div class="th">-->
    <!--Time Summary-->
    <!--<span class="glyphicon glyphicon-chevron-up"-->
    <!--data-ng-click=" order('TimeSummary') "-->
    <!--data-ng-class="{active: row == 'TimeSummary'}"></span>-->
    <!--<span class="glyphicon glyphicon-chevron-down"-->
    <!--data-ng-click=" order('-TimeSummary') "-->
    <!--data-ng-class="{active: row == '-TimeSummary'}"></span>-->
    <!--</div></th>-->
    <!--<th><div class="th">-->
    <!--Request Type-->
    <!--<span class="glyphicon glyphicon-chevron-up"-->
    <!--data-ng-click=" order('RequestType') "-->
    <!--data-ng-class="{active: row == 'RequestType'}"></span>-->
    <!--<span class="glyphicon glyphicon-chevron-down"-->
    <!--data-ng-click=" order('-RequestType') "-->
    <!--data-ng-class="{active: row == '-RequestType'}"></span>-->
    <!--</div></th>-->
    <!--<th><div class="th">-->
    <!--Description-->
    <!--<span class="glyphicon glyphicon-chevron-up"-->
    <!--data-ng-click=" order('description') "-->
    <!--data-ng-class="{active: row == 'description'}"></span>-->
    <!--<span class="glyphicon glyphicon-chevron-down"-->
    <!--data-ng-click=" order('-description') "-->
    <!--data-ng-class="{active: row == '-description'}"></span>-->
    <!--</div></th>-->
    <!--<th>-->
    <!--<div class="th">-->
    <!--Domain Name-->
    <!--<span class="glyphicon glyphicon-chevron-up"-->
    <!--data-ng-click="order('DomainName')"-->
    <!--data-ng-class="{active: row == 'DomainName'}"></span>-->
    <!--<span class="glyphicon glyphicon-chevron-down"-->
    <!--data-ng-click=" order('-DomainName')"-->
    <!--data-ng-class="{active: row == '-DomainName'}"></span>-->
    <!--</div>-->
    <!--</th>-->
    <!--<th><div class="th">-->
    <!--Type-->
    <!--<span class="glyphicon glyphicon-chevron-up"-->
    <!--data-ng-click=" order('Type') "-->
    <!--data-ng-class="{active: row == 'Type'}"></span>-->
    <!--<span class="glyphicon glyphicon-chevron-down"-->
    <!--data-ng-click=" order('-Type') "-->
    <!--data-ng-class="{active: row == '-Type'}"></span>-->
    <!--</div></th>-->
    <!--<th><div class="th">-->
    <!--Criteria-->
    <!--<span class="glyphicon glyphicon-chevron-up"-->
    <!--data-ng-click=" order('Criteria') "-->
    <!--data-ng-class="{active: row == 'Criteria'}"></span>-->
    <!--<span class="glyphicon glyphicon-chevron-down"-->
    <!--data-ng-click=" order('-Criteria') "-->
    <!--data-ng-class="{active: row == '-Criteria'}"></span>-->
    <!--</div></th>-->
    <!--<th><div class="th">-->
    <!--Category-->
    <!--<span class="glyphicon glyphicon-chevron-up"-->
    <!--data-ng-click=" order('TaskCategory') "-->
    <!--data-ng-class="{active: row == 'TaskCategory'}"></span>-->
    <!--<span class="glyphicon glyphicon-chevron-down"-->
    <!--data-ng-click=" order('-TaskCategory') "-->
    <!--data-ng-class="{active: row == '-TaskCategory'}"></span>-->
    <!--</div></th>-->
    <!--<th><div class="th">-->
    <!--Created On-->
    <!--<span class="glyphicon glyphicon-chevron-up"-->
    <!--data-ng-click=" order('CreatedOn') "-->
    <!--data-ng-class="{active: row == 'CreatedOn'}"></span>-->
    <!--<span class="glyphicon glyphicon-chevron-down"-->
    <!--data-ng-click=" order('-CreatedOn') "-->
    <!--data-ng-class="{active: row == '-CreatedOn'}"></span>-->
    <!--</div></th>-->

    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr data-ng-repeat="store in currentPageStores" data-ng-click="contentRedirect()">-->
    <!--<td class="text-center"><span class="fa fa-check-circle mouse_point" style="color: green"></span> <span class="fa fa-trash-o mouse_point" style="color: red"></span> <span class="fa fa-clock-o mouse_point" style="color: #08b39c"></span> <span class="fa fa-edit mouse_point" style="color: #115eff"></span>  </td>-->
    <!--<td>{{store.Task}}</td>-->
    <!--<td>{{store.TimeSummary}}</td>-->
    <!--<td>{{store.RequestType}}</td>-->
    <!--<td>{{store.description}}</td>-->
    <!--<td>{{store.DomainName}}</td>-->
    <!--<td>{{store.Type}}</td>-->
    <!--<td>{{store.Criteria}}</td>-->
    <!--<td>{{store.TaskCategory}}</td>-->
    <!--<td>{{store.CreatedOn}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <!--<footer class="table-footer">-->
    <!--<div class="row">-->
    <!--<div class="col-md-6 page-num-info">-->
    <!--<span>-->
    <!--Show-->
    <!--<select data-ng-model="numPerPage"-->
    <!--data-ng-options="num for num in numPerPageOpt"-->
    <!--data-ng-change="onNumPerPageChange()">-->
    <!--</select>-->
    <!--entries per page-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="col-md-6 text-right pagination-container">-->
    <!--<pagination class="pagination-sm"-->
    <!--page="currentPage"-->
    <!--total-items="filteredStores.length"-->
    <!--max-size="4"-->
    <!--ng-click="select(currentPage)"-->
    <!--items-per-page="numPerPage"-->
    <!--rotate="false"-->
    <!--boundary-links="true"></pagination>-->
    <!--</div>-->
    <!--</div>-->
    <!--</footer>-->
    <!--</div>-->
    <!--</div>-->

</div>