<div data-ng-controller="appHomeController">
    <div class="col-md-10">
        <label>Customer</label>
    </div>
    <div class="col-md-2">
        <button class="btn_hethi btn-default btn-block" type="button">INBOX</button>
    </div>
    <div class="col-md-6">
        <label>BPS</label>
    </div>
    <div class="col-md-6">
        <label>Type</label>
    </div>
    <div class="col-md-12">
        <div class="leftNav_head"></div>
    </div>
    <div class="col-md-3">
        <ul class="nav nav-boxed tabbable ver-vertical-menu">
            <div class="leftNav_head"></div>
           <li  ng-class="clientTabList.dashboard"><a href="#" data-toggle="tab" data-ng-click="selectClientTab('dashboard')"><a href="/singleinventory">PO+Inventory</a></li>
            <li class="active" ng-class="clientTabList.dashboard"><a href="#" data-toggle="tab" data-ng-click="selectClientTab('dashboard')">PO+Expense</li>
            <li  ng-class="clientTabList.dashboard"><a href="#" data-toggle="tab" data-ng-click="selectClientTab('dashboard')">NPO+NPO</a></li>
            <li  ng-class="clientTabList.dashboard"><a href="#" data-toggle="tab" data-ng-click="selectClientTab('dashboard')">NPO+Travel&Expenses</a></li>
            <li  ng-class="clientTabList.dashboard"><a href="#" data-toggle="tab" data-ng-click="selectClientTab('dashboard')">NPO+Travel&Reimbursement</a></li>
            <li  ng-class="clientTabList.dashboard"><a href="#" data-toggle="tab" data-ng-click="selectClientTab('dashboard')">NPO+Utility Bills</a></li>
            <li  ng-class="clientTabList.dashboard"><a href="#" data-toggle="tab" data-ng-click="selectClientTab('dashboard')">NPO+CheckRequest</a></li>
            <div class="leftNav_head"> </div>
    </div>
    <div class="form-group">
        <div class="col-md-9">
            <div class="col-md-3"style="background-color: #adadad">
                <div class="col-md-12">
                    <label style="margin-bottom: 20px">Forms Uploaded</label>
                </div>
                <img src=""height="75" width="75"style="margin-left: 15px">
                <div class="col-md-12">
                    <label style="margin-bottom: 20px">Inventory</label>
                </div>

                <div class="col-md-12">
                    <img src=""height="75" width="75"style="margin-left: 1%">
                </div>
                <div class="col-md-12">
                    <label style="margin-bottom: 20px">Claims and reimburesement</label>
                </div>
                <div class="col-md-12">
                    <img src=""height="75" width="75"style="margin-left: 1%">
                </div>
                <div class="col-md-12">
                    <label style="margin-bottom: 20px">Travel and expense</label>
                </div>
                <div class="col-md-12">
                    <img src=""height="75" width="75"style="margin-left: 1%">
                </div>
                <div class="col-md-12">
                    <label style="margin-bottom: 20px">Checks</label>
                </div>
                <div class="col-md-12">
                    <img src=""height="75" width="75"style="margin-left: 1%">
                </div>
                <div class="col-md-12">
                    <label style="margin-bottom: 20px">Utility</label>
                </div>
            </div>
            <div class="col-md-4"style="background-color: #adadad;margin-left: 10px">
                <div class="col-md-12">
                    <label style="margin-bottom: 20px">Drag here to regroup</label>
                </div>
                <img src=""height="75" width="75"style="margin-left: 15px">
                <div class="col-md-12">
                    <label style="margin-bottom: 20px">Expense</label>
                </div>

                <div class="col-md-12">
                    <img src=""height="75" width="75"style="margin-left: 200px">
                </div>
                <div class="col-md-12">
                    <label style="margin-bottom: 20px;margin-left: 200px">Attachment</label>
                </div>
                <div class="col-md-8 row"style="margin-top: 325px">
                    <label style="margin-bottom: 20px;margin-left: 150px">+</label>
                </div>
                <div class="col-md-4"style="margin-top: 325px;margin-left: 10px">
                  <a href="/formbundle_thankyoubartist" > <button class="btn_hethi btn-default btn-block" type="button">Group</button></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <label>PO+Expense</label>
                </div>
                <div class="col-md-12">
                    <label>PO+Expense+attachment</label>
                </div>
                <div class="col-md-12">
                    <label>NPO+Travel&Reimb</label>
                </div>
            </div>


        </div>
    </div>
</div>
</div>