<!--<style type="text/css">-->
    <!--${demo.css}-->
<!--</style>-->
<div class="panel panel-default table-dynamic" data-ng-controller="artist_dashboard_controller">

<!--<div class="panel panel-default table-dynamic" data-ng-controller="form_MapperController">-->

    <!--<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Dashboard View</strong></div>-->

    <div class="panel-body">
        <div class="page-header">
            <h1 data-ng-click="load_dashboard()">
                Dashboard
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    overview &amp; stats
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-12">


                <div class="row text-center">


                </div>

                <div class="infobox-container">



                    <div class="row text-center">
                        <div class="col-md-2" ng-repeat="process in files_in_each_process">

                            <div class="infobox infobox-red">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-flask"></i>
                                </div>

                                <div class="infobox-data">
                                    <span class="infobox-data-number">{{process.no_of_files}}</span>
                                    <div class="infobox-content">{{process.hethi_subservicecode}}</div>
                                </div>

                                <div class="badge badge-success">
                                    {{process.percent | number: 2 }}%
                                    <i class="ace-icon fa fa-arrow-up"></i>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="divider-md"></div>
                    <div class="row text-center">
                        <div class="col-md-2" ng-repeat="process in files_in_each_micro_process">
                            <div class="infobox infobox-green" >
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-file"></i>
                                </div>

                                <div class="infobox-data">
                                    <span class="infobox-data-number">{{process.no_of_files}}</span>
                                    <div class="infobox-content">{{process.micro_process_name}}</div>
                                </div>

                                <div class="stat stat-success"> {{ process.percent | number: 2 }}%</div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>


        <div class="divider-md"></div>
        <div class="divider-md"></div>
        <div class="divider-md"></div>


        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<div class="infobox-container">-->
                    <!--<div class="infobox infobox-green">-->
                        <!--<div class="infobox-icon">-->
                            <!--<i class="ace-icon fa fa-comments"></i>-->
                        <!--</div>-->

                        <!--<div class="infobox-data">-->
                            <!--<span class="infobox-data-number">32</span>-->
                            <!--<div class="infobox-content">comments + 2 reviews</div>-->
                        <!--</div>-->

                        <!--<div class="stat stat-success">8%</div>-->
                    <!--</div>-->

                    <!--<div class="infobox infobox-blue">-->
                        <!--<div class="infobox-icon">-->
                            <!--<i class="ace-icon fa fa-twitter"></i>-->
                        <!--</div>-->

                        <!--<div class="infobox-data">-->
                            <!--<span class="infobox-data-number">11</span>-->
                            <!--<div class="infobox-content">new followers</div>-->
                        <!--</div>-->

                        <!--<div class="badge badge-success">-->
                            <!--+32%-->
                            <!--<i class="ace-icon fa fa-arrow-up"></i>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="infobox infobox-pink">-->
                        <!--<div class="infobox-icon">-->
                            <!--<i class="ace-icon fa fa-shopping-cart"></i>-->
                        <!--</div>-->

                        <!--<div class="infobox-data">-->
                            <!--<span class="infobox-data-number">8</span>-->
                            <!--<div class="infobox-content">new orders</div>-->
                        <!--</div>-->
                        <!--<div class="stat stat-important">4%</div>-->
                    <!--</div>-->

                    <!--<div class="infobox infobox-red">-->
                        <!--<div class="infobox-icon">-->
                            <!--<i class="ace-icon fa fa-flask"></i>-->
                        <!--</div>-->

                        <!--<div class="infobox-data">-->
                            <!--<span class="infobox-data-number">7</span>-->
                            <!--<div class="infobox-content">experiments</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="infobox infobox-orange2">-->
                        <!--<div class="infobox-icon">-->
                            <!--<i class="ace-icon fa fa-file"></i>-->
                        <!--</div>-->

                        <!--<div class="infobox-data">-->
                            <!--<span class="infobox-data-number">6,251</span>-->
                            <!--<div class="infobox-content">pageviews</div>-->
                        <!--</div>-->

                        <!--<div class="badge badge-success">-->
                            <!--7.2%-->
                            <!--<i class="ace-icon fa fa-arrow-up"></i>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="infobox infobox-blue2">-->
                        <!--<div class="infobox-icon">-->
                            <!--<i class="ace-icon fa fa-area-chart"></i>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<div class="infobox-progress">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="easy-pie-chart percentage" data-percent="42" data-size="46">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="percent">42</span>%&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->

                        <!--<div class="infobox-data">-->
                            <!--<span class="infobox-text"><span class="percent">42</span>% traffic used</span>-->

                            <!--<div class="infobox-content">-->
                                <!--<span class="bigger-110">~</span>-->
                                <!--58GB remaining-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="divider-md"></div>-->

                    <!--<div class="">-->
                        <!--<div class="infobox infobox-green infobox-small infobox-dark">-->
                            <!--<div class="infobox-progress">-->
                                <!--<div class="easy-pie-chart percentage" data-percent="61" data-size="39">-->
                                    <!--<span class="percent">61</span>%-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="infobox-data">-->
                                <!--<div class="infobox-content">Task</div>-->
                                <!--<div class="infobox-content">Completion</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="infobox infobox-blue infobox-small infobox-dark">-->
                            <!--<div class="infobox-chart">-->
                                <!--<span class="sparkline" data-values="3,4,2,3,4,4,2,2"></span>-->
                            <!--</div>-->

                            <!--<div class="infobox-data">-->
                                <!--<div class="infobox-content">Earnings</div>-->
                                <!--<div class="infobox-content">$32,000</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="infobox infobox-grey infobox-small infobox-dark">-->
                            <!--<div class="infobox-icon">-->
                                <!--<i class="ace-icon fa fa-download"></i>-->
                            <!--</div>-->

                            <!--<div class="infobox-data">-->
                                <!--<div class="infobox-content">Downloads</div>-->
                                <!--<div class="infobox-content">1,205</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="divider-md"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">

                    <!--<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Dashboard View</strong></div>-->
                  <div class="panel-body">
                      <div id="3dDonut" ></div>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">

                    <!--<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Dashboard View</strong></div>-->
                    <div class="panel-body">
                        <div id="PieChart" ></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="columnBasics"></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default table-responsive">
                    <input type="button" value="refresh " data-ng-click="load_dashboard()">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead style="background-color: #000000;color: #ffffff">
                        <tr>
                            <th class="text-center">
                                <div class="th">
                                    #
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="th">
                                    customer
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="th">
                                    uid
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="th">
                                    file id
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="th">
                                    process
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="th">
                                    sub process
                                </div>
                            </th>

                            <th class="text-center">
                                <div class="th">
                                    status
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="th">
                                    status
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="th">
                                    #
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="list in dashboard_data">


                        <tr>
                            <td>{{$index +1}}</td>
                            <td>{{list.customer_name}}</td>
                            <td>{{list.upload_id}}</td>
                            <td>{{list.file_id}}</td>
                            <td>{{list.hethi_subservicecode}}</td>
                            <td>{{list.micro_process_name}}</td>
                            <td>{{list.status_text}}</td>
                            <td>{{list.lastupdtm}}</td>
                            <td> <a href="" data-ng-click="list.show_history=!list.show_history">
                                    <span ng-show="list.show_history"> close history </span>
                                    <span ng-hide="list.show_history"> show history </span>
                                </a>
                            </td>
                        </tr>
                        <tr ng-show="list.show_history" ng-repeat="user in list.histroy">
                            <td colspan="4"></td>
                            <td>{{user.hethi_subservicecode}}</td>
                            <td>{{user.micro_process_name}}</td>
                            <td>{{user.status_text}}</td>
                            <td>{{user.lastupdtm}} </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
