
<div class="container" >
    
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>networked,onboard, discover, partner, monetize</h3>

            <span class="pull-right">business <span class="fa fa-dollar"></span>implified</span>
        </div>
    </div>

    <div style="border-top: 1px solid #b6b6b6"></div>

    <div class="divider-md"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 home_about">
            <p>
                hethi BPaaS platform converges the business processes between service partner and business partner.
                Further helping business partners transforming, automating and standardizing the business process procedures scalable by industry
            </p>

        </div>

    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6">
            <div class="row">
                <div class="col-xs-4 col-md-2 col-sm-4 col-lg-2">
                    <img class="img-responsive" src="images/hethi_icon/luggage.png">
                </div>
                <div class="col-xs-8 col-md-10 col-sm-8 col-lg-10">
                    <div class="home_about_content_head">
                        <h3>
                            service partners, be identified
                        </h3>
                    </div>
                </div>
            </div>
            <div class="divider-md"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 home_about_content">
                    <p>
                        We welcome you to the network of forms and EDIs. Join network of service partners,
                        business partners. Potential business partners are looking for a simplified and lean process to pay for a service
                    </p>
                    <p>
                        Enroll by uploading your form or EDI and get free seamless Cloudplug data capture
                        and speedup your business process by yet retaining your standard process unique to your organization
                    </p>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-5 col-xs-2 col-sm-4"></div>
                <div class="col-md-7 col-xs-10 col-sm-8">
                    <div class="">
                        <img align="right" class="img-responsive mouse_point" data-ng-click="goToFree()" src="images/hethi_icon/joinfree.png">
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6">
            <div class="row">
                <div class="col-md-2 col-xs-4 col-sm-4 col-lg-2">
                    <img class="img-responsive" src="images/hethi_icon/patner.png">
                </div>
                <div class="col-md-10 col-xs-8 col-sm-8 col-lg-10">
                    <div class="home_about_content_head">
                        <h3>
                            business partners, improve process agility
                        </h3>
                    </div>
                </div>

            </div>
            <div class="divider-md"></div>
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 home_about_content">
                    <p>
                        Smart vendor portals, search and manage data capture with connected service partners.
                        Reduce your mailroom, data capture costs, innovatively onboard service partners to comply with vendor portals.                         </p>
                    <p>
                        Leverage hethi workflows and managed solutions to improve productivity.
                        Customize botcamps to simplify robotic process automation
                    </p>
                </div>
            </div>
            <div class="divider-lg"></div>
            <div class="row">
                <div class="col-md-5 col-xs-2 col-sm-4 col-lg-5"></div>
                <div class="col-md-7 col-xs-10 col-sm-8 col-lg-7">
                    <div class="">
                        <img align="right" class="mouse_point img-responsive" data-ng-click="goToFreemium()" src="images/hethi_icon/tryFreemium.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>