<div class="margin_top_60" data-ng-controller="freemium_Controller">


    <!-- First time new login CODE Starts Here ( Authenticate the user is a new customer and show this 2 section CODE ) -->

    <div ng-hide="true" >
        <!-- -------
                    -- ! -- WARNING -- ! -- Don't Change this 2 Sections inside and out side of the CODE
                      and !!!! DON'T ADD any Div class or span Class inside
                      the ID named "freeSlider" and "scroll_slider_content"
         ------------    -->
        <section class="{{ hideSliderclass1 }}" id="freeSlider" ng-hide="mainslider">
            <div id="demo" class="center_div">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div id="owl-demo" class="owl-carousel">
                                <div class="item owlbox-main dodgerBlue" data-ng-click="showOne();">
                                    <div class="">
                                        enroll process to pay
                                    </div>
                                </div>
                                <div class="item dodgerBlue owlbox-main">
                                    <div class="">
                                        invoice process to pay
                                    </div>
                                </div>
                                <div class="item dodgerBlue owlbox-main">
                                    <div class="">
                                        partner integration to pay
                                    </div>
                                </div>
                                <div class="item dodgerBlue owlbox-main">
                                    <div class="">
                                        claims process to pay
                                    </div>
                                </div>
                                <div class="item dodgerBlue owlbox-main">
                                    <div class="">
                                        5
                                    </div>
                                </div>
                                <div class="item dodgerBlue owlbox-main">
                                    <div class="">
                                        6
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="{{ hideSliderclass1 }} center_div" ng-show="one">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div style="margin-top: 5px;margin-bottom: 5px;border: 1px solid transparent;width: 330px;position: relative;">
                            <div class="industry_select_box">
                                enroll process to pay
                            </div>
                            <div class="div_attach_icon" data-ng-click="showMainSlider()"><i class="fa fa-close"></i></div>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">

                        <div id="demo-1">
                            <div id="owl-demo1" class="owl-carousel">

                                <div data-ng-click="GotoUpload()" class="item owlbox-content darkCyan">
                                    <div class="" >
                                        industry
                                    </div>
                                </div>
                                <div class="item owlbox-content darkCyan">
                                    <div class="">
                                        industry
                                    </div>
                                </div>
                                <div class="item owlbox-content darkCyan">
                                    <div class="">
                                        industry
                                    </div>
                                </div>
                                <div class="item owlbox-content darkCyan">
                                    <div>
                                        industry
                                    </div>
                                </div>
                                <div class="item owlbox-content darkCyan">
                                    <div class="">
                                        industry
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <section ng-show="uploadForm">
            <div class="">
                <div class="row hethi_grey_color">
                    <div class="col-md-6">
                        <h3>
                            uploads forms or EDI
                        </h3>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <!--<h2>-->
                            <!--<span class="fa fa-cloud-upload"> </span>-->
                            <!--CloudPlug-->
                            <!--</h2>-->
                            <img class="img_width_200" src="images/icon/cloud_plug.png">
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <select class="form-control input-md input-hethi">
                                    <option>industry </option>
                                    <option>industry 1</option>
                                </select>
                            </div>
                        </div>
                        <div class="divider"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <select class="form-control input-md input-hethi">
                                    <option>form / EDI type </option>
                                    <option>industry 1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">

                                    <input type="text" ng-model="pathfile" class="form-control input-hethi input-md" readonly  >
                        <span class="input-group-btn">
                                      <span class="btn-file-hethi btn-warning btn-file">

                                            <span class="fa fa-upload"></span>
                                          <!--Choose a file&hellip;-->
                                          <input type="file" name="file" id="file" data-ng-file-model="ImagePath"  >

                                      </span>
                                  </span>
                                         <span class="input-group-btn">
                                    <button class="btn_hethi input-md btn-w-md btn-primary" type="submit">Upload</button>
                                </span>
                                </div>
                                <div class="divider"></div>
                                <p class="text-center">(Upload EDI, zip, jpeg, TIFF, PDF, DOCX, XLSX, DOC, XLS)</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>
                <div class="row" style="border-top: 1px solid #2A6497;
    padding-top: 30px;margin-top: 20px">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="thead-bg">
                                <tr>
                                    <th class="text-center">
                                        upload time
                                    </th>
                                    <th class="text-center">
                                        form / edi type
                                    </th>
                                    <th class="text-center">
                                        file
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center">
                                        01:45:00
                                    </td>
                                    <td class="text-center">
                                        edi
                                    </td>
                                    <td class="text-center">
                                        invoice_pd.pdf
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </section>


    </div>

    <!-- First time new login CODE Ends Here ( Authenticate the user is a new customer and show this 2 section CODE ) -->



    <!-- ####################################### -- Existing Customer When Logged In -- ###################################################  -->

    <!-- Existing Customer login CODE Starts Here ( Authenticate the user is a existing customer and show this 2 section CODE ) -->

    <div ng-hide="false">
        <!-- -------
                    -- ! -- WARNING -- ! -- Don't Change this 2 Sections inside and out side of the CODE
                      and !!!! DON'T ADD any Div class or span Class inside
                      the ID named "freeSlider" and "scroll_slider_content"
         ------------    -->
        <section class="{{ hideSliderclass1 }}" id="freeSlider_1" ng-hide="mainslider">
            <div id="existing-customer-demo" class="center_div">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div id="existing-customer-owl-demo" class="owl-carousel">
                                <div class="item owlbox-main dodgerBlue" data-ng-click="showOne();">
                                    <div class="">
                                        my BPaaS
                                    </div>
                                </div>
                                <div class="item dodgerBlue owlbox-main">
                                    <div class="">
                                        try more forms / EDI
                                    </div>
                                </div>
                                <div class="item dodgerBlue owlbox-main">
                                    <div class="">
                                        find a business partner
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="{{ hideSliderclass1 }} center_div" ng-show="one">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div style="margin-top: 5px;margin-bottom: 5px;border: 1px solid transparent;width: 330px;position: relative;">
                            <div class="industry_select_box">
                                my BPaaS
                            </div>
                            <div class="div_attach_icon" data-ng-click="showMainSlider()"><i class="fa fa-close"></i></div>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">

                        <div id="existing-customer-content">
                            <div id="existing-customer-content-owl-demo" class="owl-carousel">

                                <div class="item owlbox-content darkCyan" data-ng-click="GotoCSP()">
                                    <div class="">
                                        download cloudplug
                                    </div>
                                </div>
                                <div class="item owlbox-content darkCyan" data-ng-click="GotoCSP()">
                                    <div class="">
                                        connect service partner
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <section ng-show="downloadCloudPlug">
            <div class="">
                <div class="row hethi_grey_color">
                    <div class="col-md-6">
                        <h3>
                            download cloudplug
                        </h3>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <!--<h2>-->
                            <!--<span class="fa fa-cloud-upload"> </span>-->
                            <!--CloudPlug-->
                            <!--</h2>-->
                            <img class="img_width_200" src="images/icon/cloud_plug.png">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row" style="border-top: 1px solid #2A6497;padding-top: 30px;margin-top: 20px">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="thead-bg">
                                <tr>
                                    <th class="text-center">
                                        upload time
                                    </th>
                                    <th class="text-center">
                                        form / edi type
                                    </th>
                                    <th class="text-center">
                                        form / edi file
                                    </th>
                                    <th class="text-center">
                                        service partner
                                    </th>
                                    <th class="text-center">
                                        version
                                    </th>
                                    <th class="text-center">
                                        select
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center">
                                        1/10/2016 11:45
                                    </td>
                                    <td class="text-center">
                                        PO - invoice process to pay
                                    </td>
                                    <td class="text-center">
                                        invoice_pd.pdf
                                    </td>
                                    <td class="text-center">
                                        pearson
                                    </td>
                                    <td class="text-center">
                                        1.0
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="button" class="btn_hethi btn_hethi_md blue">download cloudplug</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section ng-show="showCSP">
            <div>
                <section class="" ng-show="connectSP">
                    <div class="row hethi_grey_color">
                        <div class="col-md-6">
                            <h3>
                                connect service partner
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <!--<h2>-->
                                <!--<span class="fa fa-cloud-upload"> </span>-->
                                <!--CloudPlug-->
                                <!--</h2>-->
                                <img class="img_width_200" src="images/icon/cloud_plug.png">
                            </div>
                        </div>
                    </div>


                    <div class="panel-body">
                        <div class="row" style="border-top: 1px solid #2A6497;padding-top: 30px;margin-top: 20px">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead class="thead-bg">
                                        <tr>
                                            <th class="text-center">
                                                upload time
                                            </th>
                                            <th class="text-center">
                                                form / edi type
                                            </th>
                                            <th class="text-center">
                                                form / edi file
                                            </th>
                                            <th class="text-center">
                                                service partner
                                            </th>
                                            <th class="text-center">
                                                version
                                            </th>
                                            <th class="text-center">
                                                email
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">
                                                1/10/2016 11:45
                                            </td>
                                            <td class="text-center">
                                                PO - invoice process to pay
                                            </td>
                                            <td class="text-center">
                                                invoice_pd.pdf
                                            </td>
                                            <td class="text-center">
                                                pearson
                                            </td>
                                            <td class="text-center">
                                                1.0
                                            </td>
                                            <td class="text-center">
                                                <input type="email">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                1/10/2016 11:45
                                            </td>
                                            <td class="text-center">
                                                PO - invoice process to pay
                                            </td>
                                            <td class="text-center">
                                                invoice_pd.pdf
                                            </td>
                                            <td class="text-center">
                                                pearson
                                            </td>
                                            <td class="text-center">
                                                1.0
                                            </td>
                                            <td class="text-center">
                                                <input type="email">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                1/10/2016 11:45
                                            </td>
                                            <td class="text-center">
                                                PO - invoice process to pay
                                            </td>
                                            <td class="text-center">
                                                invoice_pd.pdf
                                            </td>
                                            <td class="text-center">
                                                pearson
                                            </td>
                                            <td class="text-center">
                                                1.0
                                            </td>
                                            <td class="text-center">
                                                <input type="email">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="button" class="btn_hethi input-md blue" data-ng-click="ConnectServicePartner()">connect service partner</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>

                <section ng-show="uploadForms">

                    <div class="">
                        <div class="row hethi_grey_color">
                            <div class="col-md-6">
                                <h3>
                                    uploads forms or EDI
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <!--<h2>-->
                                    <!--<span class="fa fa-cloud-upload"> </span>-->
                                    <!--CloudPlug-->
                                    <!--</h2>-->
                                    <img class="img_width_200" src="images/icon/cloud_plug.png">
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <select class="form-control input-md input-hethi">
                                                <option>industry </option>
                                                <option>industry 1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="divider"></div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <select class="form-control input-md input-hethi">
                                                <option>form / EDI type </option>
                                                <option>industry 1</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">

                                                <input type="text" ng-model="pathfile" class="form-control input-hethi input-md" readonly  >
                        <span class="input-group-btn">
                                      <span class="btn-file-hethi btn-warning btn-file">

                                            <span class="fa fa-upload"></span>
                                          <!--Choose a file&hellip;-->
                                          <input type="file" name="file" id="file" data-ng-file-model="ImagePath"  >

                                      </span>
                                  </span>
                                         <span class="input-group-btn">
                                    <button class="btn_hethi input-md btn-w-md btn-primary" type="submit">Upload</button>
                                </span>
                                            </div>
                                            <div class="divider"></div>
                                            <p class="text-center">(Upload EDI, zip, jpeg, TIFF, PDF, DOCX, XLSX, DOC, XLS)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="divider"></div>
                            <div class="row" style="border-top: 1px solid #2A6497;
    padding-top: 30px;margin-top: 20px">
                                <div class="col-md-offset-2 col-md-8">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead class="thead-bg">
                                            <tr>
                                                <th class="text-center">
                                                    upload time
                                                </th>
                                                <th class="text-center">
                                                    form / edi type
                                                </th>
                                                <th class="text-center">
                                                    file
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="text-center">
                                                    01:45:00
                                                </td>
                                                <td class="text-center">
                                                    edi
                                                </td>
                                                <td class="text-center">
                                                    invoice_pd.pdf
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <button type="button" class="btn_hethi input-md btn-w-lg blue" data-ng-click="generateRFI()">generate RFI</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </section>

                <section ng-show="RFI">
                    <div class="">
                        <!--<div class="divider"></div>-->
                        <div class="row hethi_grey_color">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5">
                                        business customer :
                                    </div>
                                    <div class="col-md-7">
                                        business partner name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">

                                    </div>
                                    <div class="col-md-7">
                                        address 1, address 2, zip
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">BPaaS</label>
                                    <div class="col-md-8">
                                        <select class="form-control">
                                            <option>invoice process to pay</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row" style="border-top: 1px solid #2A6497;padding-top: 30px;margin-top: 0px">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="row">
                                    <div class="col-md-3">
                                        <select class="form-control">
                                            <option value="0">-- select form --</option>
                                            <option>PO inventory</option>
                                            <option>PO expense</option>
                                            <option>NPO</option>
                                            <option>NPO Travel and expense</option>
                                            <option>NPO-Claim & Reimbursement</option>
                                            <option>NPO-Utility Bill</option>
                                            <option>NPO-Cheque Request</option>
                                        </select>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="btn-group btn-group-justified" ng-init="showDetailColStart='no'">

                                            <a href="#" class="btn btn-line-info " data-ng-click="showDetailColStart= 'yes'" data-ng-model="showDetailColStart" btn-radio="'yes'" > EDI </a>
                                            <a href="#"  class="btn btn-line-info " data-ng-click="showDetailColStart= 'no'" data-ng-model="showDetailColStart" btn-radio="'no'" > Form </a>
                                            <!---->
                                            <!--<a href="#" class="btn btn-primary">Apple</a>-->
                                            <!--<a href="#" class="btn btn-primary">Samsung</a>-->
                                            <!--<a href="#" class="btn btn-primary">Sony</a>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control">
                                            <option value="0">-- delivery --</option>
                                            <option>HTML</option>
                                            <option>ANSI-810</option>
                                            <option>ANSI-837</option>
                                            <option>EDIFACT 8010</option>
                                            <option>CSV</option>
                                            <option>XML</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn_hethi btn-primary form-control">add</button>
                                    </div>
                                </div>

                                <div class="divider-md"></div>

                            </div>
                        </div>

                        <div class="divider-lg"></div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="counter_head">
                                    services preview
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead class="thead-bg">
                                        <tr>
                                            <th class="text-center">
                                                form type
                                            </th>
                                            <th class="text-center">
                                                EDI
                                            </th>
                                            <th class="text-center">
                                                form
                                            </th>
                                            <th class="text-center">
                                                delivery
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">
                                                PO Inventory
                                            </td>
                                            <td class="text-center">

                                            </td>
                                            <td class="text-center">

                                            </td>
                                            <td class="text-center">

                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                PO Inventory
                                            </td>
                                            <td class="text-center">

                                            </td>
                                            <td class="text-center">

                                            </td>
                                            <td class="text-center">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                PO Inventory
                                            </td>
                                            <td class="text-center">

                                            </td>
                                            <td class="text-center">

                                            </td>
                                            <td class="text-center">

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="button" class="btn_hethi btn-w-md input-md blue" data-ng-click="proceedSubmit()">proceed to submit</button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

                <section ng-show="ProceedToSubmit">
                    <div class="">
                        <!--<div class="divider"></div>-->



                        <div class="row hethi_grey_color">
                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    <div class="col-md-5 col-xs-5">
                                        business customer :
                                    </div>
                                    <div class="col-md-7 col-xs-7">
                                        business partner name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-xs-5">

                                    </div>
                                    <div class="col-md-7 col-xs-7">
                                        address 1, address 2, zip
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <!--<div class="row">-->
                                <!--<label class="col-md-4">BPaaS</label>-->
                                <!--<div class="col-md-8">-->
                                <!--<select class="form-control">-->
                                <!--<option>invoice process to pay</option>-->
                                <!--</select>-->
                                <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row" style="border-top: 1px solid #2A6497;padding-top: 30px;margin-top: 0px">
                            <div class="col-md-offset-1 col-md-10">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <label  class="control-label ui-checkbox"><input name="checkbox1" value="option1" type="checkbox" id="remember" ><span>same as registrant</span></label>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h3>business sponsor :</h3>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="control-label">title</label>
                                                <input type="text" class="input-md input-hethi form-control">
                                            </div>
                                            <div class="col-md-5">
                                                <label class="control-label">first name</label>
                                                <input type="text" class="input-md input-hethi form-control">
                                            </div>
                                            <div class="col-md-5">
                                                <label class="control-label">last name</label>
                                                <input type="text" class="input-md input-hethi form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="divider-md"></div>
                                <div class="row">
                                    <div class="col-md-3" style="text-align: right">
                                        <label class="control-label">email :</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="email" class="input-md input-hethi form-control">
                                    </div>
                                </div>
                                <div class="divider-md"></div>
                                <div class="row">
                                    <div class="col-md-3" style="text-align: right">
                                        <label class="control-label">business phone :</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="email" class="input-md input-hethi form-control">
                                    </div>
                                </div>
                                <div class="divider-md"></div>
                                <div class="row">
                                    <div class="col-md-3" style="text-align: right">
                                        <label class="control-label">mobile phone :</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="email" class="input-md input-hethi form-control">
                                    </div>
                                </div>
                                <div class="divider-md"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="button" class="btn_hethi btn-w-md input-md blue" data-ng-click="getRfiForm()">submit RFI</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="divider-lg"></div>

                    </div>
                </section>


            </div>


        </section>


    </div>

    <!-- Existing Customer login CODE Ends Here ( Authenticate the user is a existing customer and show this 2 section CODE ) -->


</div>