<script>
    $(document).ready(function(){
        $(this).scrollTop(0);
    });
</script>
<div class="margin_top_60" data-ng-controller="freemium_Controller">


    <!-- First time new login CODE Starts Here ( Authenticate the user is a new customer and show this 2 section CODE ) -->

    <div ng-hide="true" >

        <section>
            <div class="form_selection">
                <div id="demo" class="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">


                                <data-owl-carousel class="owl-carousel"
                                                   data-options='{items : 4,
                                                   itemsDesktop : [1199,3],
                                                   itemsDesktopSmall : [979,3],
                                                   pagination:true,
                                                   navigation: false,
                                                   navigationText:["<i class=fa fa-chevron-left  icon-white></i>","<i class=fa fa-chevron-right icon-white></i>"] }'>
                                    <a owl-carousel-item data-ng-repeat="item in items" class="item categoryCard"  data-ng-click="showOne();">
                                        <img class="cardImage img-responsive" src="{{item.image}}">
                                        <div class="cardContainer" >

                                            <h2 class="cardTitle normal-text">{{item.name}}</h2>
                                            <h3 class="cardTitle">{{item.description}}</h3>

                                        </div>
                                    </a>
                                </data-owl-carousel>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class=" container">
                <div class="page-header-item">
                    <h1>browse industry : {{selectedBpaaS.BpaaS_service}}</h1>
                </div>
                <div class="divider"></div>
                <a id="demo-1">
                    <ul data-owl-carousel class="owl-carousel topics"
                        data-options="{items : 6,
                                               itemsDesktop : [1199,3],
                                               itemsDesktopSmall : [979,3],
                                               pagination:true,
                                               navigation: true,
                                               navigationText: ['<i class=fa fa-chevron-left icon-white></i>','<i class=fa fa-chevron-right icon-white></i>']}">
                        <li owl-carousel-item ng-repeat="list in BpaaS_service_industry_list" class="item " data-ng-click="GotoUpload($index);">
                            <a href="#" class="">
                                <i class="fa {{list.fa}}"></i><span>{{list.indus_service}}</span>

                            </a>
                        </li>
                    </ul>

                </a>


            </div>
        </section>


        <div class="divider"></div>

        <section id="formUpload">

            <div class="freemium_section" ng-if="uploadForm">
                <div class="row hethi_grey_color">
                    <div class="col-md-6">
                        <h3>
                            uploads forms or EDI
                        </h3>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <!--<h2>-->
                            <!--<span class="fa fa-cloud-upload"> </span>-->
                            <!--CloudPlug-->
                            <!--</h2>-->
                            <img class="img_width_200" src="images/icon/cloud_plug.png">
                        </div>
                    </div>
                </div>

            <hr>

                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="upload_box_hethi">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="grey">form type</p>
                                    <select class="form-control input-md input-hethi">
                                        <option>form / EDI type </option>
                                        <option>industry 1</option>
                                    </select>
                                </div>
                                <div class="col-md-8">
                                    <p class="grey text-center">click to upload your file or (you can zip and upload as well)</p>
                                    <div class="input-group">

                                        <input type="text" ng-model="pathfile" class="form-control input-hethi input-md" readonly  >
                        <span class="input-group-btn">
                            <span class="btn-file-hethi btn-warning btn-file">

                                            <span class="fa fa-upload"></span>
                                          <span>browse</span>
                                          <!--Choose a file&hellip;-->
                                          <input type="file" name="file" id="file" data-ng-file-model="ImagePath"  >

                                      </span>
                        </span>

                                    </div>
                                    <div class="divider"></div>
                                    <p class="text-center font_14_grey">(upload EDI, zip, jpeg, TIFF, PDF, DOCX, XLSX, DOC, XLS)</p>
                                </div>
                            </div>

                            <div class="divider"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <button class="btn_hethi input-md blue" type="submit"><span class="fa fa-spinner"></span> upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div style="border-top: 3px solid rgba(162, 122, 42, 0.39);padding-top: 30px;margin-top: 20px" class="col-md-offset-2 col-md-8">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-bg">
                                <tr>
                                    <th class="">
                                        upload time
                                    </th>
                                    <th class="">
                                        form / edi type
                                    </th>
                                    <th class="">
                                        file
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="">
                                        01:45:00
                                    </td>
                                    <td class="">
                                        edi
                                    </td>
                                    <td class="">
                                        invoice_pd.pdf
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        01:45:00
                                    </td>
                                    <td class="">
                                        edi
                                    </td>
                                    <td class="">
                                        invoice_pd.pdf
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>




        </div>
        </section>


    </div>


    <!-- First time new login CODE Ends Here ( Authenticate the user is a new customer and show this 2 section CODE ) -->

    <!-- ####################################### -- Existing Customer When Logged In -- ###################################################  -->


    <div ng-hide="false">

        <section data-ng-show="existingCustomerItem">
            <div class="form_selection">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <data-owl-carousel class="owl-carousel"
                                               data-options='{items : 4,
                                                   itemsDesktop : [1199,3],
                                                   itemsDesktopSmall : [979,3],
                                                   pagination:true,
                                                   navigation: false,
                                                   navigationText:["<i class=fa fa-chevron-left  icon-white></i>","<i class=fa fa-chevron-right icon-white></i>"] }'>
                                <a owl-carousel-item data-ng-repeat="item in items" class="item categoryCard"  data-ng-click="showOne();">
                                    <img class="cardImage img-responsive" src="{{item.image}}">
                                    <div class="cardContainer" >

                                        <h2 class="cardTitle normal-text">{{item.name}}</h2>
                                        <h3 class="cardTitle">{{item.description}}</h3>

                                    </div>
                                </a>
                            </data-owl-carousel>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container" >
                <div class="page-header-item">
                    <h1>browse industry : {{selectedBpaaS.BpaaS_service}}</h1>
                </div>
                <div class="divider"></div>
                <a id="demo-2">
                    <ul data-owl-carousel class="owl-carousel topics"
                        data-options="{items : 6,
                                               itemsDesktop : [1199,3],
                                               itemsDesktopSmall : [979,3],
                                               pagination:true,
                                               navigation: true,
                                               navigationText: ['<i class=fa fa-chevron-left icon-white></i>','<i class=fa fa-chevron-right icon-white></i>']}">
                        <li owl-carousel-item ng-repeat="list in BpaaS_service_industry_list" class="item " data-ng-click="GotoCSP($index);">
                            <a href="#" class="">
                                <i class="fa {{list.fa}}"></i><span>{{list.indus_service}}</span>

                            </a>
                        </li>
                    </ul>

                </a>
            </div>

        </section>



        <section ng-show="downloadCloudPlug">

            <div class="">
                <div class="row hethi_grey_color">
                    <div class="col-md-6">
                        <h3>
                            download cloudplug
                        </h3>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">

                            <img class="img_width_200" src="images/icon/cloud_plug.png">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row" style="border-top: 1px solid #2A6497;padding-top: 30px;margin-top: 20px">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="thead-bg">
                                <tr>
                                    <th class="text-center">
                                        upload time
                                    </th>
                                    <th class="text-center">
                                        form / edi type
                                    </th>
                                    <th class="text-center">
                                        form / edi file
                                    </th>
                                    <th class="text-center">
                                        service partner
                                    </th>
                                    <th class="text-center">
                                        version
                                    </th>
                                    <th class="text-center">
                                        select
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center">
                                        1/10/2016 11:45
                                    </td>
                                    <td class="text-center">
                                        PO - invoice process to pay
                                    </td>
                                    <td class="text-center">
                                        invoice_pd.pdf
                                    </td>
                                    <td class="text-center">
                                        pearson
                                    </td>
                                    <td class="text-center">
                                        1.0
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="button" class="btn_hethi btn_hethi_md blue">download cloudplug</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="formCSP">

            <div ng-show="showCSP" >
                <script>
                    $(document).ready(function(){
                        $(this).scrollTop(0);
                    });
                </script>
                <section class="" ng-show="connectSP">

                    <div class="row hethi_grey_color">
                        <div class="col-md-6">
                            <h3>
                                connect service partner
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">

                                <img class="img_width_200" src="images/icon/cloud_plug.png">
                            </div>
                        </div>
                    </div>


                    <div class="panel-body">
                        <div class="row" style="border-top: 1px solid rgba(162, 122, 42, 0.39);padding-top: 30px;">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead class="thead-bg">
                                        <tr>
                                            <th class="text-center">
                                                upload time
                                            </th>
                                            <th class="text-center">
                                                form / edi type
                                            </th>
                                            <th class="text-center">
                                                form / edi file
                                            </th>
                                            <th class="text-center">
                                                service partner
                                            </th>
                                            <th class="text-center">
                                                version
                                            </th>
                                            <th class="text-center">
                                                email
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">
                                                1/10/2016 11:45
                                            </td>
                                            <td class="text-center">
                                                PO - invoice process to pay
                                            </td>
                                            <td class="text-center">
                                                invoice_pd.pdf
                                            </td>
                                            <td class="text-center">
                                                pearson
                                            </td>
                                            <td class="text-center">
                                                1.0
                                            </td>
                                            <td class="text-center">
                                                <input type="email">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                1/10/2016 11:45
                                            </td>
                                            <td class="text-center">
                                                PO - invoice process to pay
                                            </td>
                                            <td class="text-center">
                                                invoice_pd.pdf
                                            </td>
                                            <td class="text-center">
                                                pearson
                                            </td>
                                            <td class="text-center">
                                                1.0
                                            </td>
                                            <td class="text-center">
                                                <input type="email">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                1/10/2016 11:45
                                            </td>
                                            <td class="text-center">
                                                PO - invoice process to pay
                                            </td>
                                            <td class="text-center">
                                                invoice_pd.pdf
                                            </td>
                                            <td class="text-center">
                                                pearson
                                            </td>
                                            <td class="text-center">
                                                1.0
                                            </td>
                                            <td class="text-center">
                                                <input type="email">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="button" class="btn_hethi input-md blue" data-ng-click="ConnectServicePartner()">connect service partner</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>

                <section ng-show="uploadForms">
                    <script>
                        $(document).ready(function(){
                            $(this).scrollTop(0);
                        });
                    </script>
                    <div >

                        <div class="row hethi_grey_color">
                            <div class="col-md-6">
                                <h3>
                                    uploads forms or EDI
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <img class="img_width_200" src="images/icon/cloud_plug.png">
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="row" style="border-top: 1px solid rgba(162, 122, 42, 0.39);padding-top: 30px;">
                                <div class="col-md-offset-2 col-md-8">
                                    <div class="upload_box_hethi">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p class="grey">form type</p>
                                                <select class="form-control input-md input-hethi">
                                                    <option>form / EDI type </option>
                                                    <option>industry 1</option>
                                                </select>
                                            </div>
                                            <div class="col-md-8">
                                                <p class="grey text-center">click to upload your file or (you can zip and upload as well)</p>
                                                <div class="input-group">

                                                    <input type="text" ng-model="pathfile" class="form-control input-hethi input-md" readonly  >
                        <span class="input-group-btn">
                            <span class="btn-file-hethi btn-warning btn-file">

                                            <span class="fa fa-upload"></span>
                                          <span>browse</span>
                                          <!--Choose a file&hellip;-->
                                          <input type="file" name="file" id="file" data-ng-file-model="ImagePath"  >

                                      </span>
                        </span>

                                                </div>
                                                <div class="divider"></div>
                                                <p class="text-center font_14_grey">(upload EDI, zip, jpeg, TIFF, PDF, DOCX, XLSX, DOC, XLS)</p>
                                            </div>
                                        </div>

                                        <div class="divider"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <button class="btn_hethi input-md blue" type="submit"><span class="fa fa-spinner"></span> upload</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div style="border-top: 3px solid rgba(162, 122, 42, 0.39);padding-top: 30px;margin-top: 20px" class="col-md-offset-2 col-md-8">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead class="thead-bg">
                                            <tr>
                                                <th class="">
                                                    upload time
                                                </th>
                                                <th class="">
                                                    form / edi type
                                                </th>
                                                <th class="">
                                                    file
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="">
                                                    01:45:00
                                                </td>
                                                <td class="">
                                                    edi
                                                </td>
                                                <td class="">
                                                    invoice_pd.pdf
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="">
                                                    01:45:00
                                                </td>
                                                <td class="">
                                                    edi
                                                </td>
                                                <td class="">
                                                    invoice_pd.pdf
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <button type="button" class="btn_hethi input-md btn-w-lg blue" data-ng-click="generateRFI()">generate RFI</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </section>

                <section ng-show="RFI">

                    <div class="">
                        <div class="divider"></div>
                        <div class="row hethi_grey_color">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5">
                                        business customer :
                                    </div>
                                    <div class="col-md-7">
                                        business partner name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">

                                    </div>
                                    <div class="col-md-7">
                                        address 1, address 2, zip
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="row">
                                    <label class="col-md-4">BPaaS</label>
                                    <div class="col-md-8">
                                        <select class="form-control">
                                            <option>invoice process to pay</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row" style="border-top: 1px solid rgba(162, 122, 42, 0.39);padding-top: 30px;">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="row">
                                    <div class="col-md-3">
                                        <select class="form-control">
                                            <option value="0">-- select form --</option>
                                            <option>PO inventory</option>
                                            <option>PO expense</option>
                                            <option>NPO</option>
                                            <option>NPO Travel and expense</option>
                                            <option>NPO-Claim & Reimbursement</option>
                                            <option>NPO-Utility Bill</option>
                                            <option>NPO-Cheque Request</option>
                                        </select>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="btn-group btn-group-justified" ng-init="showDetailColStart='no'">

                                            <a href="#" class="btn btn-line-info " data-ng-click="showDetailColStart= 'yes'" data-ng-model="showDetailColStart" btn-radio="'yes'" > EDI </a>
                                            <a href="#"  class="btn btn-line-info " data-ng-click="showDetailColStart= 'no'" data-ng-model="showDetailColStart" btn-radio="'no'" > Form </a>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control">
                                            <option value="0">-- delivery --</option>
                                            <option>HTML</option>
                                            <option>ANSI-810</option>
                                            <option>ANSI-837</option>
                                            <option>EDIFACT 8010</option>
                                            <option>CSV</option>
                                            <option>XML</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn_hethi btn-primary form-control">add</button>
                                    </div>
                                </div>

                                <div class="divider-md"></div>

                            </div>
                        </div>

                        <div class="divider-lg"></div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="counter_head">
                                    services preview
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead class="thead-bg">
                                        <tr>
                                            <th class="text-center">
                                                form type
                                            </th>
                                            <th class="text-center">
                                                EDI
                                            </th>
                                            <th class="text-center">
                                                form
                                            </th>
                                            <th class="text-center">
                                                delivery
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">
                                                PO Inventory
                                            </td>
                                            <td class="text-center">

                                            </td>
                                            <td class="text-center">

                                            </td>
                                            <td class="text-center">

                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                PO Inventory
                                            </td>
                                            <td class="text-center">

                                            </td>
                                            <td class="text-center">

                                            </td>
                                            <td class="text-center">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                PO Inventory
                                            </td>
                                            <td class="text-center">

                                            </td>
                                            <td class="text-center">

                                            </td>
                                            <td class="text-center">

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="button" class="btn_hethi btn-w-md input-md blue" data-ng-click="proceedSubmit()">proceed to submit</button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

                <section ng-show="ProceedToSubmit">

                    <div class="">
                        <div class="divider"></div>

                        <div class="row hethi_grey_color">
                            <div class="col-md-5 col-xs-12">
                                <div class="row">
                                    <div class="col-md-5 col-xs-5">
                                        business customer :
                                    </div>
                                    <div class="col-md-7 col-xs-7">
                                        business partner name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-xs-5">

                                    </div>
                                    <div class="col-md-7 col-xs-7">
                                        address 1, address 2, zip
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7"></div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row" style="border-top: 1px solid rgba(162, 122, 42, 0.39);padding-top: 30px;">
                            <div class="col-md-offset-1 col-md-10">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <label  class="control-label ui-checkbox"><input name="checkbox1" value="option1" type="checkbox" id="remember" ><span>same as registrant</span></label>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3 text-right">
                                        <h3>business sponsor :</h3>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="control-label">title</label>
                                                <input type="text" class="input-md input-hethi form-control">
                                            </div>
                                            <div class="col-md-5">
                                                <label class="control-label">first name</label>
                                                <input type="text" class="input-md input-hethi form-control">
                                            </div>
                                            <div class="col-md-5">
                                                <label class="control-label">last name</label>
                                                <input type="text" class="input-md input-hethi form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="divider-md"></div>
                                <div class="row">
                                    <div class="col-md-3" style="text-align: right">
                                        <label class="control-label">email :</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="email" class="input-md input-hethi form-control">
                                    </div>
                                </div>
                                <div class="divider-md"></div>
                                <div class="row">
                                    <div class="col-md-3" style="text-align: right">
                                        <label class="control-label">business phone :</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="email" class="input-md input-hethi form-control">
                                    </div>
                                </div>
                                <div class="divider-md"></div>
                                <div class="row">
                                    <div class="col-md-3" style="text-align: right">
                                        <label class="control-label">mobile phone :</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="email" class="input-md input-hethi form-control">
                                    </div>
                                </div>
                                <div class="divider-md"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <button type="button" class="btn_hethi btn-w-md input-md blue" data-ng-click="getRfiForm()">submit RFI</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="divider-lg"></div>

                    </div>
                </section>


            </div>


        </section>


    </div>

    <!-- Existing Customer login CODE Ends Here ( Authenticate the user is a existing customer and show this 2 section CODE ) -->


</div>