/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
/* ########################################################################################## */



.rslides {
    /*margin: 0 auto 40px;*/
    margin: 0 auto 0px;
}

#slider2,
#slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}

.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0,0,0,.25);
    box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}

.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255,255,255,.1);
    color: #fff;
    font-weight: bold;
}



#download {
    background: #333;
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 60px auto;
    max-width: 500px;
    padding: 20px;
}

#download:hover {
    background: rgba(255,255,255,.15);
}



/* Callback example */


.callbacks_container {
    /*margin-bottom: 50px;*/
    position: relative;
    float: left;
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.callbacks img {
    display: block;
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 26px;
    text-shadow: none;
    color: #fff;
    /*background: rgba(0,0,0, .8);*/
    left: 0;
    right: 0;
    /* bottom: 0; */
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    width: 50%;
    top: 1.5em;
}
.callbacks .caption-left {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 3.5em;
    text-shadow: none;
    color: #fff;
    font-family: 'HelveticaLTStd-Roman',sans-serif;
    left: 15%;
    right: 0;
    padding-left: 10px;
    margin: 0;
    width: 100%;
    top: 40%;
    text-align: left;
}
.callbacks .caption-botcamp{
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 3.5em;
    text-shadow: none;
    color: rgb(191, 189, 189);
    font-family: 'HelveticaLTStd-Roman',sans-serif;
    left: 27%;
    right: 0;
    padding-left: 10px;
    margin: 0;
    width: 100%;
    bottom: 13%;
    text-align: left;
}
.callbacks .caption-botcamp-sub{
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 22px;
    text-shadow: none;
    color: #B9BABB;
    font-family: 'HelveticaLTStd-Roman',sans-serif;
    left: 32%;
    right: 0;
    /* bottom: 0; */
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    max-width: none;
    width: 100%;
    bottom: 9%;
    text-align: left;
}
.callbacks .caption-bpaasStudio{
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 3.5em;
    text-shadow: none;
    color: rgb(191, 189, 189);
    font-family: 'HelveticaLTStd-Roman',sans-serif;
    left: 8%;
    right: 0;
    padding-left: 10px;
    margin: 0;
    width: 100%;
    text-align: left;
    top: 58.5%;
}
.callbacks .caption-bpaasStudio-sub{
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 25px;
    text-shadow: none;
    color: rgb(191, 189, 189);
    font-family: 'HelveticaLTStd-Roman',sans-serif;
    left: 15%;
    right: 0;
    padding-left: 10px;
    margin: 0;
    width: 100%;
    text-align: left;
    bottom: 20.5%;
}
.callbacks .caption-left-content{
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 30px;
    text-shadow: none;
    color: #fff;
    font-family: 'HelveticaLTStd-Roman',sans-serif;
    left: 27%;
    right: 0;
    /* bottom: 0; */
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    max-width: none;
    width: 100%;
    top: 55%;
    text-align: left;
}
.callbacks .read_more_button {
    /*display: block;*/
    /*position: absolute;*/
    /*z-index: 2;*/
    /*text-shadow: none;*/
    /*color: #fff;*/
    /*font-family: 'HelveticaLTStd-Roman',sans-serif;*/
    /*/!*right: 5%;*!/*/
    /*padding: 10px 20px;*/
    /*margin: 0;*/
    /*max-width: none;*/
    /*width: 100%;*/
    /*bottom: 20%;*/
    /*text-align: center;*/

    display: block;
    position: absolute;
    z-index: 2;
    text-shadow: none;
    color: #fff;
    font-family: 'HelveticaLTStd-Roman',sans-serif;
    right: 10%;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    width: 100%;
    bottom: 20%;
    text-align: right;


}
.callbacks .caption-left-content span{
    /*font-size: 1.3em !important;*/
    /*background: #222 !important;*/
    /*background: rgba(0,0,0,.4) !important;*/
    /*padding: .32em !important;*/
    /*color: #fff !important;*/
    /*margin-top: 5px;*/
}


.callbacks .caption-right {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 16px;
    text-shadow: none;
    color: #fff;
    /*color: #87D3DF;*/
    font-family: 'HelveticaLTStd-Roman',sans-serif;
    /*background: rgba(0,0,0, .8);*/
    /*left: 0;*/
    right: 5%;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    width: 40%;
    bottom: 8em;
    text-align: justify;
}
.callbacks .caption-bottom {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 3em;
    text-shadow: none;
    /*color: #fff;*/
    color: #87D3DF;
    font-family:'HelveticaLTStd-Roman',sans-serif;
    /* background: #000; */

    left: 0;
    right: 0;
    bottom: 0.5em;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    width: 100%;
    text-align: left;
    /*top: 0;*/
}
@media (max-width: 1024px) {
    .callbacks .caption-left-content{
        font-size: 25px !important;
        top: 7em !important;
    }
    .callbacks .caption-left{
        font-size: 2.5em !important;
        top: 2.5em !important;
    }
    .callbacks .caption-right{
        bottom: 0.5em !important;
        width: 50%;
    }
    .callbacks .caption-bottom{
        font-size: 2.5em !important;
        bottom: 0.5em !important;
    }

}
@media (max-width: 768px) {
    .callbacks .caption-left-content{
        font-size: 1.5em !important;
        top: 55% !important;
        left: 0;
        text-align: center;
    }
    .callbacks .caption-left{
        font-size: 2em !important;
        top: 40% !important;
        left: 0;
        text-align: center;
    }
    .callbacks .read_more_button{
        top: 65% !important;
        left: 0;
        text-align: center;
    }
    .callbacks .caption-right{
        font-size: 12px !important;
        bottom: 0.5em !important;
        width: 60% !important;
    }
    .callbacks .caption-bottom{
        font-size: 2em !important;
        bottom: 0.5em !important;
    }
}

@media (max-width: 640px) {
    .callbacks .caption-left-content{
        font-size: 18px !important;
        top: 51% !important;
        left: 0;
        text-align: center;
    }
    .callbacks .caption-left{
        font-size: 20px !important;
        top: 40% !important;
        left: 0;
        text-align: center;
        font-weight: bold;
    }

    .callbacks .caption-right{
        font-size: 13px !important;
        width: 55%;
        bottom: 1.5em !important;
    }
    .callbacks .caption-bottom{
        font-size: 20px !important;
    }
}
@media (max-width: 480px) {
    .callbacks .caption-left-content{
        font-size: 14px !important;
        top: 55% !important;
        left: 0;
        text-align: center;
    }
    .callbacks .caption-left{
        font-size: 18px !important;
        top: 40% !important;
        left: 0;
        text-align: center;
        font-weight: bold;
    }
    .callbacks .caption-right{
        /*font-size: 12px !important;*/
        /*bottom: 0.5em !important;*/
        /*width: 60%;*/
        display: none;
    }
    .callbacks .caption-bottom{
        font-size: 18px !important;
        bottom: 0.5em !important;

    }
}
@media (min-width: 320px) and (max-width: 460px) {
    .callbacks .caption-left-content{
        font-size: 14px !important;
        top: 4.5em !important;
        left: 0;
        text-align: center;
    }
    .callbacks .caption-left{
        font-weight: bold;
        font-size: 15px !important;
        top: 3em !important;
        text-align: center;
        left: 0;
    }
    .callbacks .caption-right{
        /*font-size: 15px !important;*/
        /*bottom: 0 !important;*/
        display: none;
    }
    .callbacks .caption-bottom{
        font-size: 15px !important;
        bottom: 0 !important;

    }
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 52%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("themes/themes.gif") no-repeat left top;
    margin-top: -45px;
}

.callbacks_nav:active {
    opacity: 1.0;
}

.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}

#slider3-pager a {
    display: inline-block;
}

#slider3-pager img {
    float: left;
}

#slider3-pager .rslides_here a {
    background: transparent;
    box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
    padding: 0;
}

@media screen and (max-width: 600px) {

    .callbacks_nav {
        top: 47%;
    }
}
